---
name: actors
---

<h2>Carolyn Jordan</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="/files/evidence/27">Testimony - Carolyn Jordan, Senator Cranston's Banking Aide, Part I</a></li>
                <li><a href="/files/evidence/28">Testimony - Carolyn Jordan, Senator Cranston's Banking Aide, Part II</a></li>
            </ul>


        <h2>Video</h2>
          <ul>
                <li><a href="/videos/Jordan - Part I">Jordan - Part I</a></li>
                <li><a href="/videos/Jordan - Part II">Jordan - Part II</a></li>
          </ul>
    </div>

<img src="/img/actors/Carolyn-Jordan.png" alt="Carolyn Jordan" class="float-left">
<p><u>Senator Cranston’s Chief Banking Aide</u></p>

<p>Jordan joined <a href="/actors/senators/Alan-Cranston">Senator Cranston’s</a>
banking staff in 1972. As early as December of 1984, she met with
<a href="/actors/affiliates/James-Grogan">James Grogan</a>
(<a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln S&L’s</a> general counsel)
to discuss concerns with proposed “direct investment” laws. Jordan says she had no knowledge
of Cranston’s 1987 contact with Keating until long after the April meetings.</p>

<br clear="all">
