---
name: actors
---

<h2>Gwendolyn VanPaaschen</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/45">Testimony - Gwendolyn VanPaaschen, McCain's Banking Aide, Part 1</a></li>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/46">Testimony - Gwendolyn VanPaaschen, McCain's Banking Aide, Part 2</a></li>
            </ul>
        
     
    <h2>Exhibits</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/20">Exhibit #256: Arthur Young Letter, Jack Attchison</a></li>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/26">Exhibit: Black Transcript</a></li>
            </ul>
        
        <h2>Video</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/watch/2">70 Minutes: A First Look into the Hearings</a></li>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/watch/14">Testimony - Gwendolyn VanPasschen, McCain's Banking Aide, Part 2 [Video]</a></li>
            </ul>
    </div>


<p>Senator McCain's Banking Aide.&nbsp;</p><p>There is evidence that VanPaaschen warned McCain &nbsp;to "stay away from Keating.” Not only was she put off by his “high flying demeanor," but she also voiced her discomfort with the way the meetings were set up and the request her office received to "not bring any aides to the meeting." Disregarding the request, McCain brought VanPaaschen; she was stationed outside the room where the meetings took place.<br></p><p><br></p>
<br clear="all">