---
name: actors
---

<h2>Joy Jacobson</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/37">Testimony - Joy Jacobson, Senator DeConcini's Head Fundraiser, Part 1</a></li>
            </ul>
        
        <h2>Video</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/watch/2">70 Minutes: A First Look into the Hearings</a></li>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/watch/11">Testimony - Joy Jacobson, Senator DeConcini's Head Fundraiser, Part 1 [VIDEO]</a></li>
            </ul>
    </div>

<img src="https://apps.college.brown.edu/keating5/img/actors/Joy-Jacobson.jpg" alt="Joy Jacobson" class="float-left">
<style>@font-face {
  font-family: "Times New Roman";
}p.MsoNormal, li.MsoNormal, div.MsoNormal { margin: 0in 0in 0.0001pt; font-size: 12pt; font-family: "Times New Roman"; }table.MsoNormalTable { font-size: 10pt; font-family: "Times New Roman"; }div.Section1 { page: Section1; }</style>



<p class="MsoNormal"></p><p class="MsoNormal">Senator Cranston’s Head Fundraiser.&nbsp;</p><p class="MsoNormal"><br></p><p class="MsoNormal">In 1987, Jacobson began working for Cranston as a Senate staff member. In 1984, she shifted roles and became his “Fundraising Coordinator.” Jacobson was present at a number of the meetings attended by Cranston, Grogan &nbsp;and Keating.&nbsp;</p><p class="MsoNormal">&nbsp;</p><p><br></p><p></p>



<br clear="all">