---
name: actors
---
<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>

<body>
  <h2>70 Minutes: A First Look into the Hearings</h2>
  <iframe frameborder="0" height="300" src="http://player.vimeo.com/video/6566512?title=0&amp;byline=0&amp;portrait=0" width="400"></iframe>
  <p>
    <a href="http://vimeo.com/6566512">The Keating Five</a> from <a href="http://vimeo.com/user2298350">Ross Cheit</a> on <a href="http://vimeo.com">Vimeo</a>.
  </p>
  <p><a href="javascript: history.go(-1);">Back to previous page</a></p>
</body>
</html>