---
name: actors
---
<div style="display: flex;">
  <video controls><source src="/files/videos/cut/program.8571.MP4-M20.194.116.mp4" type="video/mp4"></video>
  <div class="text-transcript">
    <!--<h4>Insert transcript here</h4>-->
    <p>Mr. LAMB: Charles Keating, with all of the attention you’ve received in the last several months, how much of your problems you’re in do you blame on the government?</p>
    <p>Mr. KEATING: I think virtually all of our problems I consider to be the fault of regulators who improperly, in my opinion, took away our company, our livelihood, destroyed my family, my acquaintances.</p>
    <p>Mr. LAMB: Have you, personally, done anything wrong in this process?</p>
    <p>Mr. KEATING: I don’t think we’ve done anything wrong. I went to work every morning at two or three or four AM and worked ‘till six or seven at night; six, seven days a week. I’m not extravagant in the sense that sometimes it’s reported, and, all of my officers and executives have worked hard, we tried to make the thing work – we were making it work, we had value there when it was taken.</p>
    <p>Mr. LAMB: What’s it feel like when you see yourself, your name around the “Keating Five,” and when you see those stories over the last several months, time and time again?</p>
    <p>Mr. KEATING: It makes me feel ill for the country because we were engaged in a political system, which causes you to support people and causes you to be able to go to your Congress when you have a runaway agency. The sickness, really, I think is that the senators weren’t listened to, because had they been listened to, the taxpayers would not have a $500 billion-dollar bill on their hand. I think that the senators – for the first two years, we didn’t talk about Lincoln, we talked about the policies and the practices of the Federal Home Loan Bank Board and how they were going to destruct the financial institution system because they were reverting back to the dinosaur age, and had the senators been listened to, we wouldn’t have this big bill for the taxpayers – it’s an unconscionable bill; I don’t think people really understand the cost of this yet.</p>
  </div>
</div>
<br />
<a href="javascript:history.go(-1);">Click here to go back</a>
