---
name: actors
---
<iframe frameborder='0' width='512' height='330' scrollable='no' src='https://www.c-span.org/video/standalone/?c4679216'></iframe>
<br />
<u>No transcript available for this clip</u><br />
<a href="javascript:history.go(-1);">Click here to go back</a>
