---
name: actors
---
<video controls><source src="/files/videos/cut/program.mccain.MP4-M20.237.1954.mp4" type="video/mp4"></video>
<br />
<a target="_blank" href="/files/evidence/42">Click here for transcript</a><br />
<a href="javascript:history.go(-1);">Click here to go back</a>
