---
name: actors
---
<video controls><source src="/files/videos/cut/program.vanp.MP4-M20.891.70.mp4" type="video/mp4"></video>
<br />
<a href="/files/transcripts/Testimony - Gwendolyn VanPaasschen, McCain's Banking Aide, Part II.pdf">Click here for transcript</a><br />
<a href="javascript:history.go(-1);">Click here to go back</a>
