---
name: actors
---
<iframe frameborder='0' width='512' height='330' scrollable='no' src='https://www.c-span.org/video/standalone/?c4679216'></iframe>
<br />
<a href="/files/transcripts/Testimony - Gwendolyn VanPaasschen, McCain's Banking Aide, Part I.pdf">Click here for transcript</a><br />
<a href="javascript:history.go(-1);">Click here to go back</a>
