---
name: story
---
<p align="center">
    <h2><center><strong>The Banking Crisis: Lincoln, Keating, and Gray</strong></center></h2>
</p>

<ul id="enduring-pager" class="nav nav-pills" role="tablist">
  <li class="nav-item active"><a class="nav-link" data-toggle="pill" href="#page1">Part I: Cracks Appear</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#page2">Part II: To the Senate</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#page3">Part III: Appropriate Advocacy or Improper Intervention?</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#page4">Part IV: Fallout</a></li>
</ul>

<div class="tab-content">
  <div class="enduring-page tab-pane fade in active" id="page1">
    <p>
        <h3><strong>Part I: Cracks Appear</strong></h3>
    </p>

    <p>
    For many years, savings and loan banks (S&amp;Ls) were small outfits that assisted Americans on a household scale. These    <a href="/evidence">thrift banks</a>, as they are also known, became a force in the early 20th century by assisting with home
        ownership. Their focus on mortgage lending, saving, and basic investing (typically through passbook savings accounts and certificates of deposit)
        solidified their reputation as
        <s>
            a
        </s>
        sleepy, yet vital, mainstays of the American community. (S&amp;Ls of this era were famously depicted in the 1946 film <em>It's a Wonderful Life</em>).
        However, some in the industry were eager to expand beyond the household. In the 1960s and especially 70s, they pushed Congress for deregulation of
        S&amp;Ls. Industry leaders wanted to be able to act more like full-fledged banks, investing in large ventures with the latitude to make riskier investments
        - and higher profits. On March 31st, 1980, those advocates got their wish when President Carter signed the Depository Institutions Deregulation and
        Monetary Control Act. The law gave S&amp;Ls many of the same capabilities as banks, but without comparable regulation. The Federal Home Loan Bank Board
        (<a href="/actors/supporting_cast/FHLBB">FHLBB</a>), responsible for regulating thrifts, was suddenly faced with a seismic shift in how its industry did business. Both the regulators and the banks
        were uncertain of the new areas they were moving into - but both knew it would surely involve more than local car loans and basic savings accounts.
    </p>
    <p>
    One banker who was particularly eager to take advantage of the newly liberalized rules was    <a href="/actors/affiliates/Charles-Keating">Charles Keating</a>, the President of the home construction company American Continental
    Corporation (<a href="/actors/affiliates/ACC">ACC</a>). In 1984, ACC bought    <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln Savings &amp; Loan</a>, an Irvine, California thrift bank. Over a few
        short years, Keating turned the operation from one that resembled the community S&amp;L portrayed in <em>It's a Wonderful Life</em> to a lavish and
        high-flying operation. Keating effectively eliminated traditional, low-risk home lending. He established a high-risk operation characterized by explosive
        growth and excessive concentrations in speculative activities. After moving the operation to Arizona, he became the highest paid executive of all the
        publically traded companies in the state (with five other ACC employees being in the top ten).
    </p>
    <p>
        Around the same time that Keating purchased Lincoln, <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a> was appointed Chairman of
        the 3-member FHLBB. <em>The Washington Post </em>reported that, "Gray was neither an economist nor a businessman by profession, but rather a born pitchman
        and cheerleader. After a brief episode as a reporter, working in the Madrid bureau of United Press International during the early 1960s, he went into
        public relations and made a career of saying positive things about his employees&#8230; this decidedly average man - brown hair, square face, medium height
        and build - instinctively shunned controversy and conflict."<a href="#section1"><sup>1</sup></a>
    </p>
    <p>
        As Gray stepped into this leadership position, the savings and loan (S&amp;L) industry was beginning to crack. Lending companies were overextending
        themselves, with one after another starting to go bankrupt as numerous high-risk loans soured. In an effort to reduce the fallout, Gray proposed a number
        of reforms and regulations. These, however, proved extremely unpopular among the leaders of the thrift industry, especially Keating. Some of the
        regulations Gray proposed were caps on "direct investments," which were (often risky) real estate ventures initiated by the thrift. In the past, thrifts'
        involvement in the real estate industry was indirect, via homeowners' mortgages and builders' loans. Direct investments, on the other hand, were direct
        cash injections into large-scale building projects that were high reward, but also high-risk. By imposing these regulations, Gray broke away from industry
        trends and forged a more fiscally conservative path with respect to S&amp;Ls. This concerned Keating so much that, in December 1985, he attempted to hire
        Gray out of his FHLBB position. Gray refused the offer and reported Keating to the Justice Department.<a href="#section2"><sup>2</sup></a>
    </p>
    <p>
    Gray's ethics, however, had also been called into question by allegations about inappropriate use of government funds. In December 1986, it was    <a href="/files/evidence/6">reported</a> that Gray has been using FHLBB funds for his wife to accompany him on business trips across
        the nation. While Gray repaid the FHLBB for those costs "on [his] own volition," they amounted to over $11,000. He had also previously repaid $13,000 for a
        private jet he chartered to see his dying father while across the country on FHLBB business.
    </p>
    <p>
        On March 12th, 1986, the Bank Board began its first major examination of Lincoln in two years. (The last examination, conducted six months after Keating
        acquired Lincoln, revealed "appraisal difficulties," "an overvaluation of capital," and a "lack of an internal audit committee"). Keating claimed that the
        examination was not only months overdue, but also taking an inordinate amount of time, and that the FHLBB was harassing him and leaking information to
        discredit him for being publically critical of Gray. The <a href="/actors/supporting_cast/SF-Regulators">FHLBB regulators</a>, based
        in San Francisco, claimed that, under the circumstances, the Lincoln examination was not unusually long. In his testimony to the Senate Ethics Committee,
        William Black, one of the regulators, explained how "when a thrift has engaged in complex transactions, is troubled, or does not cooperate, the examination
        takes longer." He noted that all three of these complications applied to Lincoln's case. The examination dealt with unusually complicated tax agreements,
        potentially "troubled" real estate holdings, and many "junk bond" investments.
    </p>
    <p>
        Hostilities surfaced at a meeting between the regulators and Keating on July 3rd meant to discuss the preliminary findings of the examination. Keating
        allegedly berated the examiners and threatened to sue their supervisor.<a href="#section3"><sup>3</sup></a> For two weeks, Lincoln's executives refused to permit the examination
        to continue. Then, Keating insisted that the examiners conduct their examination through Lincoln's New York litigation counsel. This unusual arrangement
        was later approved by the FHLBB with the proviso that Lincoln's counsel move to Phoenix.
    </p>
    <p>
        By August, the <a href="/actors/supporting_cast/SF-Regulators">San Francisco regulators</a> summarized their preliminary findings of
        Lincoln's exam in a "Statement of Supervisory Concerns" and sent a draft to Washington. It detailed many areas of worry: Underwriting deficiencies,
        appraisal deficiencies, improperly capitalized interest, $600 million in excess direct investments, misclassification of joint ventures, false profits, and
    over concentrations of loans to one borrower. Fieldwork continued on the examination of Lincoln. In late September, <em>The Washington Post</em> ran a    <a href="/files/evidence/4">story</a> about the delay of Lincoln's examination and "the feud" between Keating and Gray. Describing
        the two as "embroiled in a bitter feud over the future of the troubled S&amp;L industry," it highlighted Lincoln's accusation that the Bank Board leaked
        confidential information and was conducting an unusually long audit to discredit Keating, who was a staunch supporter of deregulation. It then cited
        sources that allegedly knew Gray's point of view: That the FHLBB's job was to investigate wrongdoing, no matter how long it takes and that Gray already saw
        Keating as an unethical character. Having had no direct contact with Lincoln's exam, Gray was confused about the story and its allegations. He wrote to the
    San Francisco regulators for an explanation. Three days later, Gray received the so-called "<a href="/files/evidence/21">Cirona memo</a>" - a lengthy explanation of the concerns addressed in the draft Statement of Supervisory
        Concerns, along with details about how Keating had impeded the examination. The FHLBB ended its fieldwork a few weeks later. While still working on the
        final Statement of Supervisory Concerns, on February 3rd, 1987, the San Francisco regulators forwarded the Bank Board a summary of its review of Lincoln's
        securities transactions and related corporations.
    </p>
  </div>

  <div class="enduring-page tab-pane fade" id="page2">
    <p>
    <h3><strong>Part II: To the Senate</strong></h3>
    </p>

    <p>
    As the regulators were completing the report for Lincoln, Keating was busy currying political favor. He helped raise sizable sums of money for Senators <a href="/actors/senators/Alan-Cranston">Alan Cranston</a> (D-California) and <a href="/actors/senators/Don-Riegle">Donald Riegle</a> (D-Michigan). On March 3rd, he contributed $100,000 to America Votes (Cranston's voter
        registration organization). Twenty days later, he raised $78,250 for Riegle at a fund-raiser held at Keating's Detroit hotel. ACC lawyer and Keating chief
        legal counsel <a href="/actors/affiliates/James-Grogan">James Grogan</a> organized many of these events. Knowing that Gray's term was
        ending in June, the offices of Sens. Cranston, Riegle, and Dennis <a href="/actors/senators/Dennis-DeConcini">DeConcini</a> (D-AZ)
        all received letters from Keating that requested action on a Senate motion to disqualify Ed Gray from the Bank Board by late February. Keating and Grogan
        wanted Gray gone as soon as possible out of fear that he would try to push through additional regulations right before his term ended. Additionally, even
        if the President chose to reappoint, they wanted the Senate to know about Gray's past ethical mistakes and why they thought he was taking the S&amp;L
        industry in the wrong direction. Around the same time, Grogan and <a href="/actors/affiliates/Jack-Atchison">Jack Atchison</a> - a
        managing partner at Arthur Young, the accounting firm who conducted Lincoln's audits - went to DC to lobby on behalf of Keating against new direct
        investment regulations.
    </p>
    <p>
    It was Gray, however, who first initiated contact between the senators and regulators. His office contacted    <a href="/actors/senators/Don-Riegle"> Riegle</a> to schedule a meeting and the two met on March 6th. Gray says that, around that
        time, he was talking to "anyone who would listen" about a FHLBB recapitalization bill he was about to put before Congress. Gray wanted appropriations for
        one of the FHLBB's subsidiaries (the FSLIC) that took over failing S&amp;Ls. Congress had voted down a previous iteration in October and reserves were
        falling quickly. Gray said that the FSLIC would fall near the $1 billion level in early 1987; it should have had reserves of at least $7 billion to
        properly insure S&amp;Ls. According to Gray, at the end of the meeting Riegle pulled him aside and told him that there were senators out West who were
        concerned about the Bank Board's actions on <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln</a>, and that these
        senators wanted to meet with Gray. Gray says he told Riegle that he didn't like the idea; he had had enough headaches with Keating. In what Gray describes
        as a three-minute meeting, he expressed his belief that nothing productive would come of sitting down with the senators. According to Gray, Riegle simply
        responded:
    </p>
    <p>
        "You'll be getting a call."
    </p>
    <p>
        "What?"
    </p>
    <p>
        "You'll be getting a call."
    </p>
    <p>
        Riegle claims that he has no independent recollection of what occurred in this March 6th meeting with Gray.
    </p>
    <p>
        During the later hearings, Grogan, the ACC lawyer, testified that he and Riegle met a little over a week later - around the time the senators received
        copies of the <a href="/files/exhibits/Lincoln/%233%20Arthur%20Young%20Letter%2003-17-87.pdf">Arthur Young letter</a>. The letter,
        written by Atchison, concluded that federal regulators were "harassing" Lincoln by being "unduly harsh." Grogan claims that Riegle told him a meeting
    between Gray and the senators would occur. Because Riegle had no direct connection to Lincoln or ACC, he needed either Arizona Senators <a href="/actors/senators/Dennis-DeConcini">Dennis DeConcini</a> (D) or <a href="/actors/senators/John-McCain">John McCain</a> (R) to coordinate and invite him to it. Riegle claims he has no recollection of
        this conversation. A little more than a week later (March 23rd), Keating organized a successful fundraiser at Detroit's Ponchetrain hotel, raising over
        $30,000 on Riegle's behalf.
    </p>
    <p>
        After his office received the Arthur Young letter,<a href="/actors/senators/Dennis-DeConcini"> DeConcini</a> met with Riegle on March
    17th. DeConcini says that he told Riegle he was having trouble with Gray and asked for help. Two days later - after receiving a    <a href="/files/evidence/17">memo</a> from <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln</a>
    that summarized all of the things they wanted the regulators to stop doing and a list of what they were willing to do in return - DeConcini and his aide, <a href="/actors/aides/Laurie-Sedlmayr">Laurie Sedlmayr</a> met with McCain and his banking aide,    <a href="/actors/aides/Gwendolyn-VanPaasschen">Gwendolyn VanPaasschen</a>. DeConcini testified that they discussed Keating's problems
        with the regulators and whether meeting with Ed Gray would be productive. DeConcini also testified that McCain repeatedly voiced his concerns regarding
        Gray's reputation, and that Gray might misrepresent any meeting they had. DeConcini says he suggested that he and McCain go to Gray's office right then to
        discuss matters. McCain refused to go to Gray's office that day and remained non-committal about any future meetings.
    </p>
    <p>
        DeConcini says he called Gray the next day and asked him to meet with a few senators regarding Lincoln's problems with the Bank Board. He testified that
        Gray responded he would be happy to meet. DeConcini noted there was no mention of aides during their conversation.
    </p>
    <p>
  </div>

  <div class="enduring-page tab-pane fade" id="page3">
    <p>
    <h3><strong>Part III: Appropriate Advocacy or Improper Intervention?</strong></h3>
    </p>

    <p>
    The first meeting, held on April 2nd in DeConcini's office, included Gray, as well as four senators: DeConcini, McCain, Cranston, and <a href="/actors/senators/John-Glenn">John Glenn</a> (D-Ohio). (Years later, McCain recalled that DeConcini started the meeting with a
        reference to "our friend at Lincoln." McCain characterized this as "an unfortunate choice of words, which Gray would remember and repeat publicly many
        times"). No aides attended this meeting. Gray claims that he was told not to bring any. This was uncommon; usually, he brought at least one aide, who would
        take notes at all meetings he attended. McCain received similar instructions to attend the meeting without his aide. McCain stationed his assistant
        (VanPaasschen) outside the room in case he had any substantive questions. Neither Cranston nor Glenn brought an aide, but it was not unusual for Glenn to
        attend such meetings alone. The evidence is unclear about the origin of the command for "no aides." DeConcini denies the existence of such an order. We
        know, however, who initiated the meeting. After stressing for several weeks that he was not at the April 2nd meeting with Gray, Riegle eventually
        acknowledged that the session has been arranged at his suggestion.<a href="#section4"><sup>4</sup></a>
    </p>
    <p>
        For Keating, the meeting was a bust. Gray told the senators that, as head of the Bank Board, he was only concerned with the big picture of the S&amp;L
        industry; he did not have specific information about Lincoln - only the San Francisco regulators would. Many of the meeting's attendees recalled the
        senators' frustration (especially Glenn's) with Gray's lack of information. From the senators' perspective, Gray knew specifically why they wanted to meet
        with him. Despite not being personally involved in the examination, he had time to get information on Keating and Lincoln and yet showed up empty-handed.
        Gray offered to set up a meeting between the senators and the San Francisco regulators, noting during testimony that he was preoccupied with staying on the
        senators' "good side" during that time so that the FHLBB recapitalization bill could get passed.
    </p>
    <p>
        A day or two after the meeting, DeConcini told Gray the senators were interested in meeting with the regulators. Gray's office responded a few days later
        saying the regulators would fly in from San Francisco to meet with the men exactly a week after the first meeting had taken place, at the same time and
        place.
    </p>
    <p>
        When Keating got word of this, he put plans into motion. He sent Grogan to Washington, along with a revised "Schedule" of Lincoln's complaints and
        offerings, with instructions to "keep the team together." Grogan believed that Keating saw this second meeting as an opportunity to raise additional
        issues. Between April 2nd and April 9th, Grogan informally met or sought out each of the five senators, reiterating how important their attendance at the
        second meeting was to Mr. Keating.
    </p>
    <p>
        Hours before the April 9th meeting, DeConcini had his aide, Laurie Sedlmayr, draft a <a href="/files/evidence/18">letter</a> to
        Riegle, which invited him to that day's meeting. The letter was sent from DeConcini and McCain, but only DeConcini signed it. He testified that both he and
        McCain agreed to the invitation. (Sedlmayr says that she was rushed to put this letter together at the end of the day, and that she forgot to take it to
        McCain's office to have it signed). With the invitation accepted, the four senators, along with Riegle, attended the second meeting. Also at the meeting
        were William Black, then Deputy Director of the Federal Savings and Loan Insurance Corporation (FSLIC), the FHLBB subsidiary that Gray's recapitalization
        bill was about; James Cirona, President of the Federal Home Loan Bank of San Francisco; and Michael Patriarca, Director of Agency Functions at the FSLIC.
    </p>
    <p>
        In an interview with <em>The</em> [Arizona] <em>Republic</em>, Black described the meeting as a "show of force" by Keating, who wanted the senators to
        pressure the regulators into dropping their case against Lincoln, which centered on the thrift's violation of "direct investment" rules. "The Senate is a
        really small club, like the clich&#233; goes," Black said. "And you really did have one-twentieth of the Senate in one room, called by one guy, who was the
        biggest crook in the S&amp;L debacle." Black claimed the senators could have accomplished their goal "if they had simply had us show up to see this
        incredible room and said, 'Hi. Charles Keating asked us to meet with you. Bye.' &#8230;They presented themselves as a group."
    </p>
    <p>
        McCain had previously refused DeConcini's request to meet with Lincoln's auditors. In his book <em>Worth the Fighting For</em>, McCain wrote that though he
        remained "a little troubled" at the prospect of meeting with the regulators, "since the chairman of the Bank Board didn't seem to have a problem with the
        idea, maybe a discussion with the regulators wouldn't be as problematic as I had earlier thought."<a href="#section5"><sup>5</sup></a> McCain testified that
        he did not sense Gray or the thrift examiners felt threatened by the senators' questioning.
    </p>
    <p>
        According to nearly verbatim notes taken by Black, McCain started the second meeting with a careful comment. "One of our jobs as elected officials is to
        help constituents in a proper fashion," McCain said. "ACC [Lincoln's parent company] is a big employer and important to the local economy. I wouldn't want
        any special favors for them&#8230; I don't want any part of our conversation to be improper." Black claimed the comment had the opposite effect for the
        regulators; it made them nervous about what might really be the senators' intentions. Glenn, a former astronaut and the first American to orbit the Earth,
        was not as tactful. "You should charge them or get off their backs," he told the regulators. "If things are bad there, get to them. Their view is that they
        took a failing business and put it back on its feet. It's now viable and profitable. They took it off the endangered species list. Why has the exam dragged
        on and on and on?" DeConcini then added: "What's wrong with this if they're willing to clean up their act?"
    </p>
    <p>
        Cirona, the banking official, told the senators that it was "very unusual" to hold a meeting to discuss a particular company. DeConcini shot back: "It's
        very unusual for us to have a company that could be put out of business by its regulators." In the middle of the meeting, the regulators came forward and
        told the senators that Lincoln was in trouble. Prior to that, there were doing their best to tell the senators what they wanted to hear. Patriarca told the
        senators that the regulators were sending a criminal referral to the Department of Justice, and that the senators could not breathe a word of it to
        Lincoln. They also told the senators that they have had problems with Arthur Young's accounting in the past - companies that appeared on solid footing due
        to its audits were in fact not - and were considering disciplinary action against them, too. The meeting then ended abruptly. Grogan says that Glenn
        returned to his office, where Grogan waited during the meeting, and simply told Grogan not to expect much from the Bank Board. Keating himself did not try
        to interact further with the regulators or the Bank Board.
    </p>
    <p>
        That May, the San Francisco regulators finished a yearlong audit and recommended that Lincoln's assets be seized. The audit, which described Lincoln as a
        thrift reeling out of control, ended up sitting on a shelf. <a href="/actors/supporting_cast/Danny-Wall">Danny Wall</a>, a man more
        sympathetic to Keating, had recently replaced Gray as Chairman of the FHLBB. In September, the investigation was taken away from the San Francisco office,
        which included Black and Patriarca. In May of 1988, it was transferred to Washington, where Lincoln would be audited again. Back in San Francisco, Black
        was fuming. "Clearly, we were shot in the back," he would later say. Despite the reprieve, Keating's businesses continued to spiral downward, taking the
        five senators' reputations with them.
    </p>
    <p>
        In April 1989, two years after the meetings, the government seized Lincoln, which declared bankruptcy. On November 5th, 1989, <em>The New York Times</em>
        published an article that detailed the events of the "Keating Five," a term the <em>The Wall Street Journal </em>coined a month earlier. Shortly
        thereafter, Common Cause filed a complaint with the Senate Ethics Committee. In November 1990, the Committee convened to decide what punishment, if any,
        should be doled out to the Keating Five.
        <s>
        </s>
    </p>
  </div>

  <div class="enduring-page tab-pane fade" id="page4">
    <p>
    <h3><strong>Part IV: Fallout</strong></h3>
    </p>

    <p>
        Keating and Lincoln became convenient symbols for arguments about what had gone wrong in America's financial system, but the senators did not escape infamy
        either. By the spring of 1990, a deck of playing cards was being marketed, called the "Savings and Loan Scandal," that featured on their face Keating
        holding up his hand, with images of the five senators portrayed as puppets on his fingers. Polls showed that most Americans believed the actions of the
        Keating Five were typical of Congress as a whole. The only difference, according to political historian Lewis Gould's book <em>The Most Exclusive Club</em>,
        was that those involved in the scandal had been caught.
    </p>
    <p>
        McCain testified against Keating in a civil suit brought by Lincoln bondholders, and was seen as the plaintiffs' best witness. The other four senators
        refused to testify. Cranston left office when his term ended in January 1993, and died in December 2000. He received the harshest penalty of the five
        senators, being formally reprimanded by the Ethics Committee during a formal session of the full Senate, with almost all 100 senators present. DeConcini
        and Riegle also continued to serve until their terms expired, neither seeking re-election in 1994. Glenn did choose to run for re-election in 1992,
        winning, and served until 1999. After that time, the only member of the Keating Five remaining in the Senate was John McCain. McCain eventually became the
        Republican presidential nominee in 2008 and remained in the Senate until his death in 2018. During the early 2000s, several retrospective accounts of the controversy
        reiterated the contention that McCain was included in the investigation primarily so that there would be at least one Republican target.
    </p>
    <p>
        The scandal was followed by a number of attempts to adopt campaign finance reform, but most died in committee. A weakened reform was passed in 1993.
        Substantial campaign finance reform was not passed until the adoption of the McCain-Feingold Act in 2002. Robert Bennett, special counsel for the Senate
        Ethics Committee during the scandal, would later write that the Keating Five investigation did make a difference, as members of Congress were afterward far
        less likely to intercede in Federal investigations on behalf of contributors.
    </p>
    <p>
        In early October 2008, the Keating Five scandal, its possible parallel to the subprime mortgage and liquidity crisis of that September, and specifically
        the role in the scandal of Republican presidential nominee McCain, were briefly emphasized by the campaign of Democratic opponent Barack Obama via a
        13-minute "<a href="http://www.youtube.com/watch?v=IDofbll86dY">documentary</a>" entitled Keating Economics. The Keating Five matter otherwise had little
        impact on McCain's eventually unsuccessful campaign.
    </p>
  </div>
</div>

<script>
const anchor = window.location.hash;
if (anchor) $(`a[href="${anchor}"]`).tab('show');
</script>

<hr />

<!-- Citations Follow -->
<p>
    <p id="section1"><sup>1</sup>Maraniss, David, and Rick Atkinson. "In Texas, Thrifts Went on a Binge of Growth Series: THE $150 BILLION CALAMITY Series Number: 1/7." The Washington
    Post 11 June 1989, Final ed.: a01. ProQuest. Web. 25 Aug. 2013.</p>
</p>
<p>
    <p id="section2"><sup>2</sup>Gray was later charged with ethics violations in connection with industry-paid trips. Someone in the industry leaked the story, possibly Keating.</p>
</p>
<p>
    <p id="section3"><sup>3</sup>In 1987, Keating sent Lincoln's General Counsel a memo to "Get Black," the San Francisco regulator closest to Gray, who took copious notes at the April
    9th meeting. Keating told Grogan: "If you can't get [former House Speaker Jim] Wright and Congress to get Black - kill him dead - you ought to retire."</p>
</p>
<p>
    <p id="section4"><sup>4</sup>Knight, Jerry. "Involved in Lincoln S&amp;L Affair, Senate Committee Aide Resigns; Gottlieb, Former Riegle Campaign Chief, Returns to Private Sector."    <em>The Washington Post</em>, January 11, 1990, Final edition, sec. The Federal Page. http://search.proquest.com/docview/307231275 (accessed July 28,
    2013).</p>
</p>
<p>
    <p id="section5"><sup>5</sup>McCain, John, and Mark Salter. <em>Worth the fighting for: a memoir</em>. New York: Random House, 2002. p. 179.</p>
</p>
