---
name: story
---
<h3>The Banking Crisis: Lincoln, Keating and Gray</h3>
<p>In 1984 Charles Keating, the President of  American Continental Corporation 
(ACC), bought Lincoln Savings & Loan, an Irvine, California thrift. His operation was 
lavish and high-flying. He became the highest paid executive of all the public companies 
in Arizona (five other ACC employees were in the top ten). While owning Lincoln, 
Keating effectively eliminated traditional home lending. Keating took full advantage of 
California's liberalized investment powers and established a high-risk operation 
characterized by explosive growth and excessive concentrations in speculative activities.</p>
<p>Around the same time that Keating purchased Lincoln, Ed Gray was appointed 
Chair of the 3-member Bank Board. The Washington Post <a href="">reported</a>(link to this Article- 
Cheit will email the link): "Gray was neither an economist nor a businessman by 
profession, but rather a born pitchman and cheerleader. After a brief episode as a 
reporter, working in the Madrid bureau of United Press International during the early 
1960s, he went into public relations and made a career of saying positive things about his 
employees. This decidedly average man--brown hair, square face, medium height and 
build--instinctively shunned controversy and conflict" (Washington Post, June 11, 1990).1</p>
<p>As Gray stepped into his leadership position, the S&L industry was beginning 
to collapse. Lending companies had over extended themselves; one after the other 
were going bankrupt as numerous high risk loans went sour.  In an effort to reduce the 
fallout, Gray proposed a number of reforms and regulations. These were very unpopular 
amongst the leaders of the thrift industry, including Keating. One of the regulations Gray 
proposed were caps on "direct investments" -- real estate ventures initiated by the thrift. 
In this way, he broke away from industry trends and forged his own path with concern 
to brokered accounts, cash reserves, and direct investment laws. In December 1985, 
Keating attempted to hire Gray out of his Bank Board position. Gray refused the offer 
and reported Keating to the Justice Department.</p>
<p>On March 12, 1986, the (Federal Home Loan Bank) FHLBB began its first 
major examination of Lincoln in two years (the last examination, conducted six months 
after Keating acquired Lincoln, revealed "appraisal difficulties," "an overvaluation of 
capital," and "lack of an internal audit committee"). Keating claimed that the examination 
was months overdue and that the FHLBB was harassing him and leaking information 
to discredit him for being critical of Ed Gray. The San Francisco regulators claimed 
that, under the circumstances, the Lincoln examination was not unusually long. In his 
testimony in front of the Senate Ethic Committee, William Black, one of the FHLB 
Regulators explained, "When a thrift has engaged in complex transactions, is troubled, 
or does not cooperate, the examination takes longer"—all three of these complications 
applied to Lincoln’s case. The examination dealt with unusually complicated tax 
agreements, potentially "troubled" real estate holdings, and "junk bond" investments.</p>
<p>What’s more, hostilities surfaced at a meeting on July 3, 1986 to discuss the 
preliminary findings of the examination. Keating berated the examiners and threatened to 
sue the Supervisory. 
For two weeks, Lincoln’s people refused to permit the examination to continue. Then, Keating insisted that the examiners conduct their examination through 
Lincoln's New York litigation counsel. This unusual arrangement was later approved by 
the FHLBB with the proviso that Lincoln's counsel move to Phoenix.</p>
<p>In August, 1986, the San Francisco regulators summarized their preliminary 
finding of Lincoln’s exam in a "Statement of Supervisory Concerns" and sent a draft to 
Washington. It detailed many areas of concern: underwriting deficiencies, appraisals 
deficiencies, improperly capitalized interest, $600 million in excess direct investments, 
misclassification of joint ventures, false profits, and over concentrations of loans to one 
borrower. Fieldwork continued on the examination of Lincoln. In late September, the 
Washington Post ran a story about the delay of Lincoln’s examination and "the feud" 
between Keating and Gray. Having had no contact with Lincoln’s exam, Gray was 
confused about these allegations. He wrote to the San Francisco regulators for an 
explanation. Three days later, Gray received the so-called "Cirona memo" (link to Cirona 
Memo Exhibit) -- a lengthy explanation of the concerns addressed in the draft Statement 
of Supervisory Concerns, along with details about how Keating had impeded the 
examination. The FHLBB ended its fieldwork a few weeks later. While still working on 
the final Statement of Supervisory Concerns, on February 3, 1987, the San Francisco 
regulators forwarded the Bank Board a summary of its review of Lincoln’s securities 
transactions and related corporations.</p>
<p>As the regulators were completing the Report of Examination for Lincoln, 
Keating was busy. He helped raise sizable sums of money for Senators Cranston and 
Riegle. On March 3, 1987, he contributed $100,000 to America Votes (Cranston’s voter 
registration organization). Twenty days later, he raised $78,250 for Riegle at a fundraiser held at Keating’s Detroit hotel. ACC’s lawyer and Keating’s chief legal counsel,
James Grogan, did much of Keating’s political lobbying. In late February of 1987, the 
offices of Senator Cranston, DeConcini, and Riegle all received letters from Keating that 
solicited advice regarding their motion to disqualify Ed Gray from the Bank Board. 
Around the same time, Grogan and Jack Attchison--a managing partner at the Arthur 
Young accounting firm, who conducted Lincoln’s audits-- went to DC to lobby on behalf 
of Keating against new direct investment regulations.</p>

<h3>Bringing in the “big guns”- Senators get involved</h3>
<p>Gray’s office contacted Senator Riegle to schedule a meeting. The two men met 
on March 6th. Gray says that, around the same time, he was talking to “anyone who 
would listen”  about the FSLIC recapitalization bill he was about to put before Congress. 
According to Gray, at the end of the meeting Riegle pulled him aside and told him 
that there were senators out West who were concerned about the Bank Board’s actions 
regarding Lincoln S&L, and that these senators wanted to meet with Gray. Gray says 
he told Riegle that he didn’t like the idea; he had had enough headaches with Keating. 
In what Gray describes as a three-minute meeting, he expressed his belief that nothing 
productive would come of meeting with the senators. According to Gray, Rielge simply 
responded, “You’ll be getting a call.” “What?” “You’ll be getting a call.” Rielge claims 
that he has no independent recollection of what occurred in his March 6 meeting with 
Gray.</p>
<p>Grogan testified that he and Reigle met a little over a week later, around the time 
the senators received copies of the Arthur Young Letter (link to exhibit #256). The letter,
written by Jack Atchison, concluded that federal regulators were "harassing" Lincoln 
by being "unduly harsh”. Grogan claims that Riegle told him a meeting between Ed 
Gray and the senators would occur. Grogan needed to have either Senator DeConcini or 
Senator McCain invite him (Riegle) to this meeting. Riegle has no recollection of this 
conversation. A little more than a week later, Keating organized a successful fundraiser at 
Detroit’s Ponchetrain hotel (March 23rd), raising over $30,000 on Riegle’s behalf.</p>
<p>After his office received the Arthur Young letter, Senator DeConcini met with 
Senator Riegle on March 17, 1987. DeConcini says that he told Riegle he was having 
trouble with Gray and that he asked for help. Two days later,--after receiving a memo
(link “memo” to exhibit 196, 140) from Lincoln that summarized all of the things they 
wanted the regulators to stop doing and a list of what they were willing to do in return--
DeConcini and his aide, Laurie Sedlmayr met with Senator McCain and his banking aid, 
Gwendolyn VanPaaschen. DeConcini testified that they discussed Keating’s problems 
with the regulators and whether meeting with Ed Gray would be productive. DeConcini 
also testified that McCain repeatedly voiced his concerns regarding Grays reputation, and 
that Gray might miss-represent any meeting they had. DeConcini says he suggested that 
he and McCain go to Gray’s office right then to discuss matters. McCain refused to go to 
Gray’s office that day and remained non-committal about any future meetings.</p>
<p>DeConcini says he called Gray the next day and asked him to meet with a few 
senators regarding Lincoln’s problems with the bank board. He testified that Gray 
responded that he would be happy to meet. (DeConcini says that there was no mention of 
aids at all during their conversation). And so the April 1st meeting was arranged.</p>

<h3>The April Meetings</h3>
<p>The first meeting-- held on April 2, 1987 in Senator DeConcini's office-- included 
Ed Gray, as well as four senators: DeConcini, McCain, Cranston, and Glenn. (Years 
later, McCain recalled that DeConcini started the meeting with a reference to "our friend 
at Lincoln." McCain characterized this as "an unfortunate choice of words, which Gray 
would remember and repeat publicly many times.") No aides attended this meeting Gray 
claims he was told not to bring any. It was his common practice to bring at least one aide, 
who would take notes to virtually every meeting he attended. McCain received similar 
instructions to attend the meeting, but was upset by the instruction and decided to bring 
his aide. McCain stationed his aide (VanPaaschen) outside of the meeting in case he had 
any substantive questions. Neither Cranston nor Glenn brought an aide, but it was not 
unusual for Glenn to attend such meetings alone. The evidence is unclear about the origin 
of the command  for "no aides." Senator DeConcini denies the existence of such an order. 
It is also unclear who instigated the meeting. There is evidence that Riegle suggested it, 
and then asked McCain's office invite him to the meeting. No one has taken responsibility 
for planning the meeting.</p>
<p>For Keating, the meeting was a bust. Gray told the senators that, as head of the 
loan board, he was only concerned with the big picture of the S&L industry. He didn't 
have specific information about Lincoln; the bank regulators in San Francisco would, 
he said, have information about that.  Many of the meeting’s attendees recalled the 
senators’ frustration with Gray’s lack of information (Glenn was especially frustrated). 
Gray offered to set up a meeting between the senators and the San Francisco regulators;
he says that he was preoccupied with staying on the senators’ “good side” during the 
meeting so that he could get a FHSL bill passed.</p>
<p>A day or two after the meeting, DeConcini told Gray that the senators were 
interested in meeting with the regulators. Gray’s office responded a few days later saying 
the regulators would fly in from San Francisco to meet with the men exactly a week after the first meeting had taken place, at the same time and the same place.</p>
<p>When Keating got word of this, he put plans into motion. He sent Grogan 
to Washington, along with a a revised “Schedule (link to exhibit 136)” of Lincoln’s 
complaints and offerings, with instructions to “keep the team together.” Grogan believed
that Keating saw this second meeting as an opportunity to raise additional issues. 
Between April 2 and April 9, Grogan informally met or bumped into each of the five senators, reiterating how important their attendance at the second meeting was to Mr. Keating.</p>
<p>Hours before the April 9th meeting, DeConcini had his aide, Laurie Sedlmayr, draft a letter (link to exhibit 197) to Senator Riegle, which invited him to that day’s 
meeting. The letter was sent from Senator DeConcini and Senator McCain, but only 
DeConcini signed it. He testified that both he and McCain agreed to the invitation. 
(Sedlmayr says that she was rushed  to put this letter together at the end of the day, 
and that she forgot to take it to McCain’s office to have it signed). With the invitation 
accepted, the four senators, along with Sen. Riegle, attended the second meeting. Also 
at the meeting were William Black, then deputy director of the Federal Savings and 
Loan Insurance Corp.; James Cirona, President of the Federal Home Loan Bank of San 
Francisco; and Michael Patriarca, Director of agency functions at the FSLIC.</p>
<p>In an interview with The [Arizona] Republic, Black described the meeting as 
a show of force by Keating, who wanted the senators to pressure the regulators into 
dropping their case against Lincoln. The thrift was in trouble for violating "direct 
investment" rules, which prohibited S&Ls from taking large ownership positions 
in various ventures. "The Senate is a really small club, like the cliché goes," Black 
said. "And you really did have one-twentieth of the Senate in one room, called by one 
guy, who was the biggest crook in the S&L debacle." Black claimed the senators could 
have accomplished their goal "if they had simply had us show up and see this incredible 
room and said, 'Hi. Charles Keating asked us to meet with you. 'Bye.’…They presented 
themselves as a group."</p>
<p>McCain had previously refused DeConcini's request to meet with the Lincoln 
auditors. In his book Worth the Fighting For, McCain wrote that he remained "a little 
troubled" at the prospect, "but since the chairman of the bank board didn't seem to have a 
problem with the idea, maybe a discussion with the regulators wouldn't be as problematic 
as I had earlier thought." McCain testified that he did not sense that Gray and the thrift 
examiners felt threatened by the senators' meddling.</p>
<p>According to nearly verbatim notes taken by Black, McCain started the second 
meeting with a careful comment. "One of our jobs as elected officials is to help 
constituents in a proper fashion," McCain said. "ACC (American Continental Corp.) is 
a big employer and important to the local economy. I wouldn't want any special favors 
for them. . . .I don't want any part of our conversation to be improper." Black claimed 
the comment had the opposite effect for the regulators. It made them nervous about 
what might really be happening. Glenn, a former astronaut and the first American to 
orbit the Earth, was not as tactful. "You should charge them or get off their backs," he 
told the regulators. "If things are bad there, get to them. Their view is that they took a 
failing business and put it back on its feet. It's now viable and profitable. They took it off 
the endangered species list. Why has the exam dragged on and on and on?" DeConcini 
added: "What's wrong with this if they're willing to clean up their act?"</p>
<p>Cirona, the banking official, told the senators that it was "very unusual" to hold 
a meeting to discuss a particular company. DeConcini shot back: "It's very unusual for 
us to have a company that could be put out of business by its regulators”. At the end of 
the meeting, the regulators told the senators that Lincoln was in trouble. Black told the 
senators that the regulators were sending a criminal referral to the Department of Justice, 
and that the senators couldn’t breathe a word of it to Lincoln. The meeting then ended 
abruptly. Grogan says that Glenn returned to his office, where Grogan waited during 
the meeting, and simply told Grogan not to expect much from the Bank Board. Keating 
himself did not try to interact further with the regulators or the Bank Board.</p>

<h3>The “Keating Five” Complaint</h3>
<p>In May of 1987, the San Francisco regulators finished a yearlong audit and 
recommended that Lincoln be seized. Because of politics on the bank board, the report 
was virtually ignored. Danny Wall, a man who was more sympathetic to Keating, 
replaced Gray as chairman. The audit, which described Lincoln as a thrift reeling 
out of control, sat on a shelf. In September 1987, the investigation was taken away 
from the San Francisco office, Black and Patriarca. In May 1988, it was transferred to 
Washington, where Lincoln would be audited again. Back in San Francisco, Black was 
fuming. "Clearly, we were shot in the back," he would later say. Despite the reprieve, 
Keating's businesses continued to spiral downward, taking the five senators with them.</p>
<p>In April 1989, two years after the Keating Five meetings, the government seized 
Lincoln, which declared bankruptcy. In September 1990, Keating was booked into Los 
Angeles County Jail, charged with 42 counts of fraud. His bond was set at $5 million. 
During Keating's trial, the prosecution produced a parade of elderly investors who 
lost their life's savings by investing in American Continental junk bonds. Keating was 
convicted in both federal and state courts of many counts of fraud, racketeering, and 
conspiracy. He served four and a half years in prison before those convictions were 
overturned in 1996. In 1999, he pleaded guilty to a more limited set of wire fraud and 
bankruptcy fraud counts, and was sentenced to the time he had already served.</p> 
<p>On November 5 1989, The New York Times published an <a href="http://www.nytimes.com/1989/11/05/us/helping-constituents-or-themselves.html?pagewanted=all&src=pm">article</a> that 
uncovered the events and coined the phrase “Keating Five”. Shortly thereafter, Common 
Cause issued a complaint to the senate ethic committee. In November 1990, the Senate 
Ethics Committee convened to decide what punishment, if any, should be doled out to the 
Keating Five.</p>

<h3>Aftermath…</h3>
<p>“Keating and Lincoln Savings became convenient symbols for arguments about 
what had gone wrong in America’s financial system and society. The senators did not 
escape infamy either. By spring 199, a deck of playing cards was being marketed, called 
“The Savings and Loan Scandal”, that featured on their face Charles Keating holding up 
his hand, with images of the five senators portrayed as puppets on his fingers. Polls 
showed that most Americans believed the actions of the Keating Five were typical of 
Congress as a whole. The only difference, according to political historian Lewis Gould, 
was that those involved in the Keating Five had been caught. </p>
<p>McCain testified against Keating in a civil suit brought by Lincoln bondholders, 
and was seen as the plaintiffs’ best witness. The other four senators refused to testify. 
Cranston left office in January 1993, and died in December 2000. DeConcini and Riegle 
served in senate until their terms expired, but did not seek re-election in 1994. Glenn did 
choose to run for re-election in 1992.  After 1999, the only member of the Keating Five 
remaining in the U.S. Senate was John McCain, who had an easier time gaining re-election in 1992 than he anticipated. </p>
<p>During the 2000s, several retrospective accounts of the controversy reiterated the 
contention that McCain was included in the investigation primarily so that there would be 
at least one Republican target. Glenn’s inclusion in the investigation has been attributed 
to Republicans who were angered by the inclusion of McCain, as well as committee 
members who thought that dropping Glenn (and McCain) would make it look bad for the 
remaining three Democratic Senators. </p>
<p>The scandal was followed by a number of attempts to adopt campaign finance 
reform, but most attempts died in committee. A weakened reform was passed in 1993. 
Substantial campaign finance reform was not passed until the adoption of the McCain 
Feingold Act in 2002. Bennett would later write that the Keating Five investigation did 
make a difference, as members of Congress were afterward far less likely to intercede 
with federal investigations on behalf of contributors.</p>
<p>In early October 2008, the Keating Five Scandal, its possible parallel to the sub 
prime mortgage crisis and liquidity crisis of September 2008, and specifically the role in 
the scandal of Republican presidential nominee McCain, were briefly emphasized by the 
campaign of Democratic opponent, Barack Obama, through a 13-minute <a href="http://www.youtube.com/watch?v=IDofbll86dY">"documentary”</a> 
 entitled  "Keating Economics." 
The Keating Five matter otherwise had little impact on McCain’s eventually unsuccessful presidential
campaign.</p>