---
name: home
---
<div class="navpic">
  <a href=""><img src="/img/actors/Alan-Cranston.jpg" title="Sen. Alan Cranston" /></a>
  <a href=""><img src="/img/actors/Dennis-DeConcini.jpg" title="Sen. Dennis DeConcini" /></a>
  <a href=""><img src="/img/actors/John-Glenn.jpg" title="Sen. John Glenn" /></a>
  <a href=""><img src="/img/actors/John-McCain.jpg" title="Sen. John McCain" /></a>
  <a href=""><img src="/img/actors/Don-Riegle.jpg" title="Sen. Don Riegle" /></a>
</div>

<p>Welcome to "Understanding the Keating Five," the only comprehensive 
website on the infamous Keating Five scandal. What started as a meeting
between some Senators and the head of the Federal Home Loan Bank Board
ended with a lengthy and nationally&#45;televised hearing of the Senate Ethics
Committee. The hearings investigated the relationship between Savings & Loan
tycoon Charles Keating and five U.S. senators. The hearings raise important
issues about ethics, representation and democracy. Did some (or all) of the
senators have good reasons for getting involved in this matter? Did some (or
all) of these senators act improperly? What are the ethical limits of “constituent
service”? How is the analysis of these issues affected by the existence of campaign
contributions?</p>
<p>“Understanding the Keating Five” provides a wealth of information about the 
S&L collapse and the stories of specific actors within the case. When approaching 
the site, it is recommended that the reader look first to the “Overall Story” and 
“70 Minutes: A First Look into the Hearings” to get a sense of sequencing and 
tone. From there, the site provides individual background stories, timelines, and 
selected excerpts of testimony from the hearings (in both written and video form) 
for each of the Senators and other major actors. Some facts are agreed upon by all 
arties in the case, including the remarkably detailed minutes of the meeting with 
the San Francisco regulators, while others are hotly contested. It is up to you to 
weigh the evidence after comparing and contrasting the various testimonies.</p>
<p>The “Related Issues” section provides background reading on theories
of representation, the S&L industry's collapse, and the appropriate limits of
constituent service. The “Enduring Issues” section highlights broader issues from
this case that are still relevant today.</p>

<div class="center">
  <h3>A First Look at the Hearings</h3>
  <iframe src="http://player.vimeo.com/video/6566512?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  <p>
    <a href="http://vimeo.com/6566512">The Keating Five</a> from <a href="http://vimeo.com/user2298350">Ross Cheit</a> on <a href="http://vimeo.com">Vimeo</a>.
  </p>
</div>