---
name: enduring
---
<h2>Enduring Issues</h2>

<ul id="enduring-pager" class="nav nav-pills">
  <li><a href="#page1">Constituent Service</a></li>
  <li><a href="#page2">The Structure of Ethics Regulation</a></li>
  <li><a href="#page3">Campaign Finance Reform</a></li>
</ul>

<div class="enduring-page" id="page1">
<h3>Constituent Service</h3>
<p>After the Keating Five case ended, the Senate formed a committee to consider new rules concerning constituent service and involvement with administrative agencies. That committee made recommendations that focused largely on campaign donations and avoiding any nexus between actual donations and specific acts of constituent service. Those recommendations leave open the question of how to distinguish proper forms of constituent service from improper ones.</p>
<p>For the Senate, <a href="https://www.ethics.senate.gov/public/index.cfm/constituentservice">Rule 43</a> of the Ethics Rules provides general guidance about constituent service.</p>
<p>For the House, there is an <a href="http://keatingfive.org/files/downloads/Constituent-Service-2.pdf">Advisory Opinion</a> on the matter that was issued in 1970. The House Ethics Manual (April 1992) also provides <a href="http://keatingfive.org/files/downloads/House-Ethics-Manual.pdf">guidance on casework</a>.</p>
<p>There has not been another case similar to the Keating Five since, but there have been a few controversies about constituent service that have raised questions about the ethical limits of interactions with administrative agencies:</p>
<ol>
  <li>
    <p>Senator Tom Daschle and U.S. Forest Service air safety inspections.</p>
    <p>Senator Tom Daschle (D-South Dakota) championed efforts to remove the authority of the U.S. Forest Service to inspect small air charter services. Forest Service inspectors had been highly critical of B&L Aviation, a company owned by a friend and campaign contributor of Daschles. One of the companys planes was involved in a fatal crash in 1994 and 60 Minutes later aired a story suggesting that Daschle had impeded the imposition of more rigorous inspections. <a href="http://articles.latimes.com/1995-02-18/news/mn-33376_1_forest-service">Daschle denied any wrongdoing</a>. As his lawyer put it: The political influence used was the influence of a United States senator trying to pass a piece of legislation that he believed in and thought was right. (The cause of the crash was ultimately determined to be pilot error, not equipment failure).</p>
  </li>
  <li>
    <p>Representative Maxine Waters and OneUnited Bank.</p>
    <p>The House Ethics Committee <a href="http://articles.latimes.com/2010/aug/10/nation/la-na-maxine-waters-20100810">brought three charges</a> against Representative Maxine Waters in 2010 involving efforts to intercede with OneUnited Bank. Waters husband, Sidney Williams, had served on the board of directors of the bank and owned several hundred thousand dollars of stock. Waters defended her actions as part of her commitment to promote opportunity for minority-owned businesses and lending in underserved communities. The case was highly contested and Waters was ultimately <a href="https://www.washingtonpost.com/blogs/2chambers/post/california-rep-waters-cleared-of-ethics-charges/2012/09/21/75d346c2-03f3-11e2-8102-ebee9c66e190_blog.html">cleared of charges</a>.</p>
</ol>
</div>

<div class="enduring-page" id="page2">
<h3>The Structure of Ethics Regulation</h3>
<p>Another enduring issue concerns the quality and effectiveness of ethics regulation in Senate, and Congress at large. Some critics of the Keating Five proceedings concluded that key decisions about who to charge in the case were tainted by party politics. Others have argued that the Senate was embarrassed enough by the Keating Five proceedings that they have avoided any similar spectacles since then. Is any elected body capable of regulating itself in a manner that avoids partisan politics? Aren’t most forms of self-regulation prone to problems of leniency? The House, in contrast, formed an “independent” ethics committee to address the problems created by partisanship. There are also various forms of ethics commissions at the state level that are structured to minimize or balance partisan interests. Are these forms of regulation preferable, or do they suffer from a lack of sufficient democratic checks?</p>

<ul>
  <li>For more information about the Congressional ethics process, click <a href="http://www.ethics.senate.gov/public/index.cfm/aboutus?p=committee-members">here</a>.</li>
  <li>For more information about state ethics processes, click <a href="http://www.ncsl.org/legislatures-elections/ethicshome/state-ethics-commissions.aspx">here</a>.</li>
</ul>

<h3>The Senate Ethics Committee</h3>

<p><em>What is it?</em></p>
<p>The <b>Senate Select Committee on Ethics</b> is charged with dealing with ethical matters related to the Senate, both as a body and with individual senators. It is a “select committee” because it performs a special function beyond the capacity of a standing committee. Select committees are often investigatory, rather than legislative, in nature.</p>

<p>According to Senate rules, the Ethics Committee is divided evenly between Democrats and Republicans, regardless of who holds the majority in the chamber (the chairman, however, is from the majority party).</p>

<p>Its authority stems directly from the Constitution. Article 1, § 5, Clause 2 states that:</p>
<p><blockquote>“Each House may determine the Rules of its Proceedings, punish its Members for disorderly Behavior, and with the Concurrence of two thirds, expel a Member.”</blockquote></p>

<p>Increasing focus on ethics followed in the wake of the rampant insider trading and lack of financial disclosure highlighted by the Great Depression. Despite Supreme Court rulings categorizing insider trading as fraud in the early-1900s, it took the greatest downturn in American history for Congress to pass legislation codifying – and enforcing – this through law. Ethics and privilege were born into the public’s consciousness during this time. Congress, however, didn’t begin to take Ethics Regulation seriously until Robert G. (Bobby) Baker, Secretary to the Senate Democratic Majority, however, resigned from his job in October 1963. Following allegations that Secretary Baker had misused his official position for personal financial gain, the Senate Rules and Administration Committee spent a year and a half investigating the alleged wrongdoings. However, no specific rules or regulations governed the scope of activities permissible for Members, officers, or employees of the Senate. Accordingly, the Senate began to see the need for a more permanent, official solution to responding to ethical breaches. The Select Committee on Standards and Conduct was created to address this need in 1964. According to the Senate’s website, this was the first time an internal disciplinary body was established in Congress on a continuing basis.</p>

<p>Up until 1964, there were no formal rules governing the conduct of Members, officers, and employees of either house of Congress. Congress often chose to deal with wrongdoing in a case-by-case, often informal and inconsistent nature. Traditionally, the Senate and the House have exercised their powers of self-discipline with extreme caution.<sup>1</sup></p>

<p>Many saw this first iteration of ethics regulation as a “watchdog without teeth.” Although it undertook multiple investigations between 1964 and 1977, many in Congress and the media posited the need for an enhanced body. Thus, in 1977, in the wake of Watergate, the Select Committee on Ethics was created.</p>


<p><em>How does it work?</em></p>
<p>The Committee begins its work on every case with a <em>preliminary inquiry</em>. Regardless of the source or specific allegation, the Committee will assess the facts and determine whether any possible violation would be within its jurisdiction.</p>

<p>If the Committee determines that there is not sufficient evidence to substantiate an ethical violation, the matter is dismissed. If the Committee determines, however, that there is substantial credible evidence of a violation, there are a number of actions it can take. If the violation is less serious, the Committee may issue either a public or private <em>letter of admonition</em> to the offender. If the violation is more serious, the Committee will initiate an <em>adjudicatory review</em>. Depending upon the facts uncovered during the adjudicatory review, the Committee can either issue a public letter of admonition or recommend that the Senate take disciplinary action. This can include payment of restitution, censure, or even expulsion of a Member.</p>


<h3>The House</h3>
<p>In contrast to the Senate, the House created an independent, non-partisan ethics office governed by an 8-person Board made up entirely of private citizens. The Office of Congressional Ethics (OCE) was formed in March 2008 to review allegations of misconduct against Members, officers, and staff of the House and, when appropriate, refers matters to the House Committee on Ethics. The OCE is not authorized to determine if a violation occurred. The OCE is also not authorized to impose punishment. It cannot even recommend sanction(s) if it believes a violation has been found. It adjudicates only to the standard of proof that the House Committee on Ethics (made up of Members) should consider the case. The goal is to take the politics out of ethics enforcement because allegations brought before the Board of an overly political nature should be dismissed by the non-partisan Board and staff.</p>

<p>Prior to the creation of the OCE, the ethics adjudication process was very secretive. In the 10-year period before its opening in 2008, matters went before the House Ethics Committee in a less formalized process and the vast majority were kept confidential. This made it difficult to learn anything about the outcome of cases other than through news stories.<sup>2</sup> The OCE has not only supplemented ethics enforcement with the work of a semi-independent agency, it has increased transparency.</p>

<p>The OCE’s creation did not come easily, however. Then-Speaker Nancy Pelosi (D-CA) pushed for the OCE as part of an effort to fulfill her promise to raise the ethical standards of Congress. Despite serious opposition from her Democratic caucus, the bill establishing it passed the House (albeit barely) and the OCE began operating in 2008.<sup>3</sup> Since then, Members have been wary of its powers and transparency provisions. Leaders on both sides have called for its abolition. Many worry about the OCE’s rules for making reports public. Even if after an investigation concludes and the OCE determines that no ethics rules were broken, a Member’s reputation can be forever tarnished by the earlier report of the investigation.</p>

<p><u>Compared with the Senate, how does a non-partisan Office alter the review process?</u><sup>4</sup></p>
<p>The processes in both chambers are remarkably similar; the difference is in who conducts them. The OCE’s investigations take a similar two stages: (1) a preliminary review, which is completed in 30 days and (2) a second-phase review, which is completed in 45 days, with the possibility of a 14-day extension.</p>
<p>Preliminary Review</p>
<p>Two Board members (one appointed by the Speaker of the House and one appointed by the Minority Leader) may authorize a preliminary review if all available information provides a reasonable basis to believe that a violation may have occurred.</p>
<p>Second-Phase Review</p>
<p>Three Board members may authorize a second-phase review if all available information provides probable cause to believe a violation may have occurred. At the end of any second-phase review, the Board must recommend to the Committee on Ethics either that the matter requires the Committee's further review or that it should dismiss the matter.</p>
<p>For more information, please click <a href="/img/process1.jpg">here</a>.</p>

<p>In the House, the investigations are supposedly nonpartisan, while the adjudication and punishment are still decided by partisan politicians. In the Senate, partisan Members fill both roles – they both conduct the investigation and determine any resulting consequences. It is important to note that in all but one set of circumstances, the report and findings of the OCE Board must be publicly released. (The only time this is not true is when they have voted to dismiss the matter). There is prescribed formula for when reviews are released and when they are not.</p>

<p>The OCE, however, is not without criticism. Many allege that it did nothing to solve the issues that plagued the Committee on Standards of Official Conduct (the Ethics Committee’s name prior to January 2011). Some people see it as overzealous. The sole role of OCE employees is to search for ethical violations. Whereas the Members on the Ethics Committee will weigh the value of investigation against other political or policy priorities, the initial investigators do not – and the mere rumor of a preliminary review damages a Member’s reputation. Then others point to criticism that the Ethics Committee does too little. This is because the OCE and the Ethics Committee almost always disagree on the adjudication of cases. In eleven out of twelve cases referred by the independent Office in its first three years, the House Ethics Committee chose not to charge any Members.<sup>5</sup> Is that proof the OCE is overly zealous? Or does it show that political bodies cannot regulate its own behavior – and that both the fact-finder and adjustor must be non-partial?</p>

<p><sup>1 http://www.citizen.org/documents/Disciplinary-actions3.pdf</sup></p>
<p><sup>2 http://www.ethics.senate.gov/public/index.cfm/history</sup></p>
<p><sup>3 http://thehill.com/homenews/house/65097-oce-house-ethics-committee-fight-over-release-of-document</sup></p>
<p><sup>4 http://www.ethics.senate.gov/public/index.cfm/jurisdiction</sup></p>
<p><sup>5 http://www.cbsnews.com/8301-503544_162-20020521-503544.html</sup></p>

<h3>State Ethics Commissions</h3>

<p>Most states have bodies that regulate the ethics of legislators and state government at large. As of October 2011, only seven had no such regulator. Does the absence of a state-mandates ethics watchdog negatively impact the quality of policymaking in these states? In some states, though, there are separate ethics bodies for legislators and the state government.</p>

<p>For detailed information on each state, click <a href="http://www.ncsl.org/legislatures-elections/ethicshome/state-ethics-commissions.aspx">here</a>.</p>
</div>

<div class="enduring-page" id="page3">
<h3>Campaign Finance Reform</h3>

<p>$43,526,589. That was the cost of Ohio’s hard-fought 2012 Senate election. This spending isn’t limited to battleground states either. Dye-in-the-wool blue Massachusetts spent $82,390,661 on its Senate contest that year. House elections commonly run into the multi-million dollars category, too. Due to the prohibitively high cost of participating in a Federal election today, many see the electoral process as ripe for manipulation by special interests. This is why many have advocated some form of campaign finance reform over the past half-century. Much of the Keating Five scandal revolves around influence peddling through campaign donations. Is campaign finance reform a viable solution that could of lessened he ability of Keating to impact government – or prevent the Keating Five affair from ever occurring?</p>

<p>Here are the salient developments in campaign finance over the past few decades:</p>

<p><em>Campaign finance reform</em></p>
<p>Although attempts to regulate campaign finance by legislation date back to 1867, the first successful attempts nationally to regulate and enforce campaign finance originated in the 1970s, following Congressional ethics crises and the Watergate scandal. The Federal Election Campaign Act (FECA) of 1972 required candidates to disclose sources of campaign contributions and campaign expenditures. Following Watergate, it was amended in 1974 with the introduction of statutory limits on contributions, and creation of the Federal Election Commission (FEC). The FECA attempted to restrict the influence of wealthy individuals by limiting individual donations to $1,000 and donations by political action committees (PACs) to $5,000. By limited the amount “hard money,” or money given directly to a candidate in an election to assist his or her campaign, any one person could give, it sough to limit the impact of money in politics.</p>

<p><em>McCain-Feingold</em></p>
<p>While various reform attempts were introduced in Congress over the 80s and 90s, none prevailed. It was becoming clear, however, that the impact of “soft money,” or political donations made in such a way as to avoid federal regulations or limits, e.g. by donating to a party organization rather than to a particular candidate or campaign, also had to be addressed for the FECA to achieve its desired reforms. The next major iteration of campaign finance legislation, the Bipartisan Campaign Reform Act of 2002, addressed this. Commonly known as the McCain-Feingold Act after its chief sponsors, Senators Russ Feingold (D-WI) and John McCain (R-AZ), it was enacted on March 7, 2002 and became effective November 6, 2002. There were two core issues the Act sought to address. First, it tried to curtail the use of increased role of “soft money.” The Act addressed this by prohibiting national political party committees from raising or spending any funds not subject to Federal limits, even for state and local races or issue discussion. The second goal was to minimize the proliferation of “issue advocacy ads,” such as ads specifically mentioning Congressional legislation, but indirectly targeting Federal representatives. This was accomplished by redefining “electioneering communications” and prohibiting any such ad paid for by a corporation (including non-profit issue organizations) or unincorporated entity. McCain-Feingold’s broad effect was to limit both the sources of funds and the amount they could donate to Federal campaigns. One of the most visible to American voters, however, is the so-called “stand by your ad” provision, prompting most campaign advertisements to now include a verbal statement similar to “I'm <Candidate X> and I approve this message.”</p>

<p><em>Citizens United</em></p>
<p>Citizens United v. Federal Election Commission, 558 U.S. 310 (2010), is a landmark case that blunted the impact of McCain-Feingold in election administration. The Supreme Court <a href="http://www.law.cornell.edu/supct/html/08-205.ZS.html">held</a> that the First Amendment prohibits the government from restricting political independent expenditures by corporations, associations, or labor unions. The suit stemmed from the conservative lobbying group Citizens United, who wanted to air a film critical of Hillary Clinton and to advertise the film during television, violating the Act. In a 5–4 decision, the Court struck down portions of the Act that prohibited corporations (including nonprofit corporations) and unions from making independent expenditures and "electioneering communications,” on the basis that they violated the First Amendment.</p>

<p>Beginning with the 2012 election cycle, this gave rise to so-called “super PACs,” officially known as "independent-expenditure only committees.” These specialty political action committees (PACs) may not make contributions to candidates’ campaigns or parties, but may engage in unlimited political spending independently of the campaigns. By doing so, they can also raise funds from corporations, unions and other groups, without any legal limit on donation size (in contrast to traditional PACs). It is important to note that Citizens United did not overturn the ban on foreign corporations and nationals from contributing or spending funds in connection with any election in the United States.</p>

<p>Election spending source: http://www.opensecrets.org/overview/topraces.php</p>
</div>

<script type="text/javascript">
  (window.onhashchange = function(){
    var sel = window.location.hash || '#page1';
    $('.enduring-page').hide();
    $(sel).show();
    $('#enduring-pager .active').removeClass('active');
    $('#enduring-pager li a[href="' + sel + '"]').parent().addClass('active');
  })();
  
  /*$('#enduring-pager li').click(function(){
    //window.on($(this).find('a').attr('href'));
  });*/
</script>
