---
name: evidence
---
<div class="center">
  <h2>Additional Information</h2>
  <div>
    <h3>Acronyms List</h3>
    ACC – American Continental Corporation<br />
    FDIC – Federal Deposit Insurance Corporation<br />
    FHLB-SF – Federal Home Loan Bank of San Francisco<br />
    FHLBB – Federal Home Loan Bank Board</a><br />
    FSLIC – Federal Savings and Loan Insurance Corporation<br />
    RTC – Resolution Trust Corporation<br />
    S&L – Savings & loan bank (i.e. thrift bank)<br />
  </div>
  <div class="evidence-wrapper">
    <div class="evidence-panel">
      <h3>News Articles</h3>
      <table class="news-table">
        <tr><th>Headline</th><th>Subtitle</th><th>Date</th></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/5">Everything's Black and White When It Comes to Ed Gray</a></td><td>N/A</td><td class="nowrap">Feb. 5, 1985</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/11">Bank Board Chief, Critic Are Feuding</a></td><td>Feud Highlights Split in S&L Industry</td><td class="nowrap">Sept. 20, 1986</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/4">S&L Regulator Feuds With Lincoln Chief</a></td><td>Ed Gray, Charles Keating Trade Charges</td><td class="nowrap">Sept. 22, 1986</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/8">S&L High Rollers Target Reformer</a></td><td>N/A</td><td class="nowrap">Nov. 6, 1986</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/6">Gray Reimbursed Home Loan Banks for Wife's Travels</a></td><td>N/A</td><td class="nowrap">Dec. 3, 1986</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/3">Bank Board Clears Henkel of Conflict Charge</a></td><td>Reagan Nominee Accused of Proposing Self-Serving Amendment</td><td class="nowrap">Mar. 13, 1987</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/7">Henkel Resigns FHLBB Post, Criticizes Justice Dept. Probe</a></td><td>N/A</td><td class="nowrap">Apr. 2, 1987</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/47">Who to Thank for the Thrift Crisis</a></td><td>The industry owes its troubles to Congress, regulators - and itself.</td><td class="nowrap">Jun. 12, 1988</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/48">Key Senators Seek to Slow Growth of Troubled S&Ls</a></td><td>Proxmire, Garn Want Quick Action to Prevent More Losses</td><td class="nowrap">Aug. 3, 1988</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/9">Savings & Loans & Intrigue & 'Meddling'</a></td><td>N/A</td><td class="nowrap">Oct. 9, 1988</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/12">The Savings and Loan Crisis<br>[article in a series]</a></td><td>Edwin Gray on the S&L Crisis: 'This Was a Self-Inflicted Disaster'</td><td class="nowrap">Oct. 9, 1988</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/10">The $150 Billion Calamity<br>[article in a series]</a></td><td>Hardening the S&L Battle Lines: 'You Can't Restrict Our God-Given Right to Make Profits!'</td><td class="nowrap">Jun. 14, 1989</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/2">$1.1 Billion Ban Fraud Suit Filed</a></td><td>New Rescue Agency Accuses S&L Owner of Racketeering</td><td class="nowrap">Sept. 16, 1989</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/13">Auditors Of Lincoln On the Spot</a></td><td>Top Ernst Officials Will Testify Today</td><td class="nowrap">Nov. 14, 1989</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/49">Mr. Ed’s Revenge</a></td><td>Once the Washington Press Corps Mocked Ed Gray. But Then He Helped Topple the Speaker of the House and Put Alan Cranston on the Run.</td><td class="nowrap">Mar. 25, 1990</td></tr>
        <tr><td><a href="http://keatingfive.org/files/evidence/50">Former Sen. William Proxmire was never tempted by campaign...</a></td><td>Unknown<br>(Full Title Unavailable)</td><td class="nowrap">Dec. 9, 1990</td></tr>
      </table>
    </div>
  </div>
  <div>
    <h3>Background on the S&amp;L Crisis</h3>
    Glassman, James K. <a href="/files/downloads/SL-Background-Glassman-Overview.pdf">"The Great Banks Robbery"</a>. <i>The New Republic</i>, October 8, 1990.<br />
    Edwin Gray, FHLBB Chair, Senate Ethics Committee Hearing. <a href="/files/downloads/SL-Background-Ed-Gray-Testimony.pdf">Excerpt from Opening Statement</a>.
  </div>
  <div>
    <h3>Website Info</h3>
    This Keating Five website is a project of <a href="https://vivo.brown.edu/display/rcheit">Prof. Ross Cheit</a> at Brown University and many student research assistants over the years. Thanks are due especially to Brown for hosting and supporting this project as well as to Michael D’Ortenzio and Ryan Chan, former students who have helped to maintain this site. Thank you to C-SPAN, as well, for their coverage of these hearings for making the recordings available to the public. We welcome comments, questions, and/or feedback at <a href="mailto:info@keatingfive.org">info@keatingfive.org</a>.
  </div>
</div>
