---
name: resources
---
<h2>Theories of Representation</h2>
<p>a. Rehfeld, Andrew. <a href="/files/downloads/Theories-of-Representation-Rehfeld.pdf">"Representation Rethought: On Trustees, Delegates and Gyroscopes in the Study of Political Representation in Democracy"</a>. <i>American Political Science Review</i>, Vol. 103, No. 2. Washington University in St. Louis,  May 2009.</p>

<p>b. McCrone, Donald, James Kuklinski. <a href="/files/downloads/Delegate-Theory.pdf">"The Delegate Theory of Representation"</a>"The Delegate Theory of Representation". <i>American Journal of Political Science</i>, Vol. 23, No. 2. Midwest Political Science Association, May 1979.</p>

<h2>S&amp;Ls</h2>
<p>a. Glassman, James K. <a href="/files/downloads/SL-Background-Glassman-Overview.pdf">"The Great Banks Robbery"</a>. <i>The New Republic</i>, October 8, 1990.</p>

<p>b. Edwin Gray, FHLB Chair, Senate Ethics Committee Hearing. <a href="/files/downloads/SL-Background-Ed-Gray-Testimony.pdf">Excerpt from Opening Statement</a>.</p>

<h2>Constituent Service</h2>

<p>a. Weblink:<a href="http://ethics.senate.gov/public/index.cfm/constituentservice">U.S. Senate Select Committee on Ethics</a>.</p>

<p>b. Committe on Standards of Official Conduct. <a href="/files/downloads/Constituent-Service-2.pdf">"Advisory Opinion"</a>. No. 1 Issued January 26, 1970.</p>

<p>c. Committe on Standards of Official Conduct. <i><a href="/files/downloads/House-Ethics-Manual.pdf">House Ethics Manual</a></i>, 102d Congress 2d Session. April, 1992. 
</p>