---
name: timeline
---
<p>Click <a href="/timeline">here</a> for data in timeline format.</p>
<table id="data"></table>
<script type="text/javascript">
$.getJSON('/files/timeline2.json', function(r) {
  r.events.forEach(function(e) {
    $('#data').append($('<tr />')
      .append($('<td />').text(e.start))
      .append($('<td />').text(e.end || '-'))
      .append($('<td />').html(e.title.replace(/\{(.+?)\}/, '<a href="' + e.link + '">$1</a>')))
      .append($('<td />').text(e.description)));
  });
});
</script>