---
name: timeline
---
<p>Click <a href="/timeline">here</a> for data in timeline format.</p>
<style id="Timeline Data (New)_25636_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.font525636
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
.font625636
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
.xl1525636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6325636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6425636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6525636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6625636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"Short Time";
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6725636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"\0022$\0022\#\,\#\#0_\)\;\[Red\]\\\(\0022$\0022\#\,\#\#0\\\)";
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6825636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:"mmm\\-yy";
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6925636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7025636
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
-->
</style>
<table border=0 cellpadding=0 cellspacing=0 width=921 style='border-collapse:
 collapse;table-layout:fixed;width:691pt'>
 <col width=85 style='mso-width-source:userset;mso-width-alt:3108;width:64pt'>
 <col width=68 style='mso-width-source:userset;mso-width-alt:2486;width:51pt'>
 <col width=296 style='mso-width-source:userset;mso-width-alt:10825;width:222pt'>
 <col width=316 style='mso-width-source:userset;mso-width-alt:11556;width:237pt'>
 <col width=113 style='mso-width-source:userset;mso-width-alt:4132;width:85pt'>
 <col class=xl7025636 width=43 style='mso-width-source:userset;mso-width-alt:
 1572;width:32pt'>
 <tr height=38 style='height:28.5pt'>
  <td height=38 class=xl6325636 width=85 style='height:28.5pt;width:64pt'>Start
  Date</td>
  <td class=xl6325636 width=68 style='width:51pt'>End Date</td>
  <td class=xl6325636 width=296 style='width:222pt'>Event</td>
  <td class=xl6325636 width=316 style='width:237pt'>Additional Info.</td>
  <td class=xl6325636 width=113 style='width:85pt'>Tags</td>
  <td class=xl6925636 width=43 style='width:32pt'>Link</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>1/1/1972</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan joins Cranston's
  banking staff</td>
  <td class=xl6525636 width=316 style='width:237pt'>Would later become chief
  banking aide</td>
  <td class=xl6525636 width=113 style='width:85pt'>Jordan, Cranson</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1978</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr begins working for
  DeConcini full time</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1978</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson starts working for
  Cranston (on Senate staff)</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Jacobson, Cranston</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1981</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini meets Keating for
  the first time at a party</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>1/1/1981</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain meets Keating for
  the first time</td>
  <td class=xl6525636 width=316 style='width:237pt'>At the Navy League dinner</td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>8/5/1981</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini endorces Keating
  for Bahamas ambassadorship in letter to President</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1982</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating gives money to
  McCain's 1st House campaign</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, McCain</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1982</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini asks Keating to
  help with fundraising for his '82 Senate campaign</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>3/24/1983</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Ed Gray becomes Chariman of
  the FHLBB</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Gray, FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating gives money to
  McCain's 2nd House campaign</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, McCain</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>1/1/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini's office
  (Sedlmayr) starts dealing with Keating</td>
  <td class=xl6525636 width=316 style='width:237pt'>Sending messages to other
  Senators on his behalf</td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Sedlmayr, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson leaves Senate
  staff and becomes &quot;Fundraising Coordinator&quot; for Cranston</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Cranston, Jacobson</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/2/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating arranges for
  contributions to retire Glenn's '84 presidential debt</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Glenn</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>1/9/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain meets with Keating
  socially in Phoenix</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, McCain</td>
  <td class=xl1525636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>6/21/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr prepares letter to
  Gray requesting delay of new regulations</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>6/23/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Glenn sends letter to Gray
  re:dissatisfaciton w/Direct Investment law.</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Glenn, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>7/16/1984</td>
  <td class=xl6425636 align=right width=68 style='width:51pt'>7/19/1984</td>
  <td class=xl6525636 width=296 style='width:222pt'>Cranston and Jacobson meets
  Grogan at Democratic National Convention</td>
  <td class=xl6525636 width=316 style='width:237pt'>Grogan says Keating could
  help clear Cranston's presidential bid bebt (they later later send $10,000 in
  individual contributions)</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Grogan, Cranston,
  Jacobson</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>12/13/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Cranston, Jordan, and
  Grogan meet re: possible &quot;direct investment&quot; laws</td>
  <td class=xl6525636 width=316 style='width:237pt'>FHLBB was thinking of
  regulating the amount of investment thrifts could directly make in real
  estate ventures following the S&amp;L deregulation law</td>
  <td class=xl6525636 width=113 style='width:85pt'>Cranston, Jordan, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>12/17/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Attends meeting with Alan
  Greenspan, Grogan, and Cranston</td>
  <td class=xl6525636 width=316 style='width:237pt'>Greenspan does
  investigation of Lincoln and endorses their &quot;direct investment&quot;
  practices</td>
  <td class=xl6525636 width=113 style='width:85pt'>Greenspan, Grogan, Cranston</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>12/17/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Alan Greenspan visit's
  Glenn's office</td>
  <td class=xl6525636 width=316 style='width:237pt'>Updates Glenn on his
  investigation and endorsement of Lincoln (unkown if Grogan was there)</td>
  <td class=xl6525636 width=113 style='width:85pt'>Greenspan, Glenn</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>12/17/1984</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Glenn sends further letter
  to Gray re: dissatisfaciton with possible &quot;direct investment&quot; laws</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Glenn, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini asks Keating to
  serve on Finance Committee of his '88 reelection campaign</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=120 style='height:90.0pt'>
  <td height=120 class=xl6425636 align=right width=85 style='height:90.0pt;
  width:64pt'>1/30/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>FHLBB promulgates
  &quot;direct investment&quot; rule</td>
  <td class=xl6525636 width=316 style='width:237pt'>Under the new rule,
  effective April 16, the amount of direct investment that a thrift would be
  allowed to make will be tied to its net worth. Formerly, institutions with a
  relatively low level of net worth could make direct investment up to 10% of
  net assets without obtaining regulatory approval</td>
  <td class=xl6525636 width=113 style='width:85pt'>FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>2/5/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Everything's Black
  and White When It Comes to Ed Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Mortgage-industry insiders
  are still talking about the performance that savings and loan regulatory czar
  Edwin J. Gray gave last March before a prestigious group of about 100
  industry executives regarding &quot;direct investment&quot; laws.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/9/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating and Grogan organize
  a fundraiser for Cranston</td>
  <td class=xl6525636 width=316 style='width:237pt'>$15,000 is raised</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Grogan, Cranston</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>7/1/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini writes letters to
  the Treasury Secretary re: various complaints about Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Write Keating and lets him
  know that he has made these complaints</td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Gray, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>7/10/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating contributes to a
  political action committee (PAC) that Glenn is the spokesman for</td>
  <td class=xl6725636 align=right width=316 style='width:237pt'>$200,000 </td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Glenn</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>12/1/1985</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating attempts to hire
  Gray out of regulatory role (as FHLBB Chairman)</td>
  <td class=xl6525636 width=316 style='width:237pt'>Gray reports Keating to the
  Justice Department</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>1/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating becomes
  &quot;significant&quot; contributer to Cranston</td>
  <td class=xl6525636 width=316 style='width:237pt'>In aide Jacobson's opinion</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Cranston, Jacobson</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>1/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating gives money to
  McCain's 1st Senate campaign</td>
  <td class=xl6525636 width=316 style='width:237pt'>Keating offers to raise
  more, but McCain declines. Over four campaigns, Keating will contribute
  $4,000 personally with $112,000 coming from family and friends</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, McCain</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>2/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson starts $300,000
  line of credit from Lincoln</td>
  <td class=xl6525636 width=316 style='width:237pt'>To finance Cranston's '86
  re-election campaign. Cranston faced a campaign debt of $2 million from his
  '84 presidential campaign and had to quickly gear up for an expensive and
  competitive re-election battle in '86</td>
  <td class=xl6525636 width=113 style='width:85pt'>Lincoln, Jacobson, Cranston</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>2/2/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating again contributes
  to a political action committee (PAC) that Glenn is the spokesman for</td>
  <td class=xl6725636 align=right width=316 style='width:237pt'>$100,000 </td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Glenn</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/15/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle meets Keating at the
  opening of his Detroit Ponchetrain Hotel</td>
  <td class=xl6525636 width=316 style='width:237pt'>Glenn tells Riegle to go
  and meet Keating as a potential funder. They do not talk about Lincoln's
  problems</td>
  <td class=xl6625636 width=113 style='width:85pt'>Riegle, Glenn, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/2/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating asks Glenn to
  support nomination of Lee Henkel to Bank Board</td>
  <td class=xl6525636 width=316 style='width:237pt'>Glenn refuses</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Glenn, FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/29/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Earnings, Revenue
  Rise 30% for Lincoln Savings</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>5/11/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: FHLBB's Gray Fights
  On; S&amp;L Officials No Longer Pressing for His Resignation</td>
  <td class=xl6525636 width=316 style='width:237pt'>The chairman of the Federal
  Home Loan Bank Board, ankle-deep in rumors that he would announce his
  resignation, stood at a lectern in Dallas last November while looking across
  an audience of the thrift industry's top executives.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>6/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini recomends Henkel
  to be on the FHLBB</td>
  <td class=xl6525636 width=316 style='width:237pt'>Keating suggests him,
  DiConcini writes Riegle about it. Sedlmayr notes these requests are unusal</td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Keating, Riegle,
  Sedlmayr, FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>6/2/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating asks Glenn to
  support the nomination of Daniel Manion</td>
  <td class=xl6525636 width=316 style='width:237pt'>Glenn refuses</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Glenn, FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>7/16/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating, Grogan, and Riegle
  meet briefly re: ACC</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>Riegle, Keating, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>7/21/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain writes Gray about
  delaying implementation of &quot;direct investment&quot; regulation</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>McCain, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>7/27/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: EARNINGS; Lincoln
  S&amp;L Reports 50% Income Drop</td>
  <td class=xl6525636 width=316 style='width:237pt'>Lincoln Savings &amp; Loan
  Assn. reported that its net income for the second quarter fell more than 50%
  to $11.9 million from $24.1 million in the same quarter last year. Revenues
  in the quarter rose 38.7% to $193.8 million from $139.7 million in last.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>8/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini recieves checks
  raised by Keating</td>
  <td class=xl6525636 width=316 style='width:237pt'>Totals $16,000. DeConcini
  says he is aware of these only after the '86 election</td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>8/20/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating, Grogan, and Riegle
  meet re: Henkel nomination</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>Riegle, Keating, Grogan,
  FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>9/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr becomes aware of
  Keating's trouble with the Bank Board</td>
  <td class=xl6525636 width=316 style='width:237pt'>Because of media on the
  matter</td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=120 style='height:90.0pt'>
  <td height=120 class=xl6425636 align=right width=85 style='height:90.0pt;
  width:64pt'>9/15/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: FHLBB Officials'
  Special Treatment Probed</td>
  <td class=xl6525636 width=316 style='width:237pt'>Four top officials of the
  Federal Home Loan Bank Board are receiving special treatment that gives two
  of them salaries that are thousands of dollars above the federal pay cap and
  provides the other two with job security unavailable to most top officials.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>9/25/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Cirona Report is issued
  (Gray has access to this)</td>
  <td class=xl6525636 width=316 style='width:237pt'>Outlines in great detail
  all the problems that the FHLB-SF had with ACC. Contentious because Gray's
  statement at the first meeting of &quot;I don't know anything&quot; is a sham</td>
  <td class=xl6525636 width=113 style='width:85pt'>SF Regulators, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>11/1/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>FSLIC recapitalization bill
  is stopped in Congress by Speaker Wright</td>
  <td class=xl6525636 width=316 style='width:237pt'>Signals to Bank Board that
  Congressional consent will be key to future regulatory efforts</td>
  <td class=xl6525636 width=113 style='width:85pt'>Wright, FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>11/4/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson meets with Keating
  on Election Night</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Jacobson, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>11/4/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Lincoln Savings
  Reports 70% Gain in Profit for Third Quarter</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=140 style='height:105.0pt'>
  <td height=140 class=xl6425636 align=right width=85 style='height:105.0pt;
  width:64pt'>12/3/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Gray Reimbursed Home
  Loan Banks for Wife's Travels</td>
  <td class=xl6525636 width=316 style='width:237pt'>Federal Home Loan Bank
  Board Chairman Edwin J. Gray on Tuesday made public hundreds of pages of his
  expense and travel records for meetings ranging from Florida to Hawaii, along
  with a memo saying that the furor over payment of his wife's travel expenses
  should subside as he always repaid voluntarily.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>12/8/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Bank Board Lived
  Well Off S&amp;Ls; Industry Picked Up Tab for Cruises, Gifts, Alcohol,
  Limousines - Bank Board's Expenses Disclosed</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>12/11/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini sends Sedlmayr
  memo about putting pressure on Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Evidence that they want to
  get rid of him well before the April meetings</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>12/16/1986</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr advises DeConcini
  to &quot;stay out of&quot; the Gray/Keating feud</td>
  <td class=xl6525636 width=316 style='width:237pt'>Via memo</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/2/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson sends memo to
  Cranston re: legislative matters of contributors</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Jacobson, Cranston</td>
  <td class=xl7025636>#16</td>
 </tr>
 <tr height=120 style='height:90.0pt'>
  <td height=120 class=xl6425636 align=right width=85 style='height:90.0pt;
  width:64pt'>1/7/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Bank Board Appointee
  Faces Conflict Charge; Proxmire Opposes Henkel for S&amp;L Ties; Bank Board
  Appointee Faces Conflict Charge by Proxmire</td>
  <td class=xl6525636 width=316 style='width:237pt'>Lee Henkel, who joined the
  Federal Home Loan Bank Board two months ago via a recess appointment by
  President Reagan, is embroiled in a conflict-of-interest charge that lies at
  the heart of a fight over control of the Bank Board and ultimately the future
  of the ailing S&amp;L industry.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=240 style='height:180.0pt'>
  <td height=240 class=xl6425636 align=right width=85 style='height:180.0pt;
  width:64pt'>1/8/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Henkel Denies
  Conflict in His S&amp;L Proposal</td>
  <td class=xl6525636 width=316 style='width:237pt'>At Mr. Henkel's first Board
  meeting, on Dec. 18, the board rejected a proposal by its Chairman, Edwin J.
  Gray, to extend for two years a rule limiting a thrift institution's direct
  real estate investments to 10 percent of its assets.<br>
    Mr. Henkel then proposed a more liberal plan that included exempting
  certain thrift institutions from the retroactive impact of the rule. His plan
  was also voted down. After the meeting, staff members said privately that
  only two institutions, one of them Lincoln Savings, would have benefited from
  the Henkel plan.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>1/28/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle meets with Keating
  and Grogan in Washington</td>
  <td class=xl6525636 width=316 style='width:237pt'>Fundraising event on
  Riegle's behalf is discussed (possibly at the Ponchetrain Hotel, where
  Keating was investing in another tower)</td>
  <td class=xl6625636 width=113 style='width:85pt'>Keating, Grogan, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>1/28/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Glenn meets with Attchison
  to discuss investigation of Keating</td>
  <td class=xl6525636 width=316 style='width:237pt'>Glenn sets this up to
  substantiate Lincoln's claim that regulators are abusing them and their
  request for Glenn to talk to them</td>
  <td class=xl6525636 width=113 style='width:85pt'>Glenn, Attchison</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/5/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain goes to Riegle's
  office to talk about the Gray/Keating feud</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>McCain, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/22/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Lincoln S&amp;L
  Holds Position as No. 2 in Orange County</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/24/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>America Votes discloses
  Keating donated $100,000 to start it up</td>
  <td class=xl6525636 width=316 style='width:237pt'>Check sent on Mar. 3.
  Jacobson keeps Grogan up-to-date with PAC's activity</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Jacobson, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/25/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Letter sent to Jacobson
  from Grogan re: desire for Gray's dismissal</td>
  <td class=xl6525636 width=316 style='width:237pt'>Grogan wants their advice
  on the matter. Jacobson says she doesn't remember seeing it</td>
  <td class=xl6525636 width=113 style='width:85pt'>Grogan, Jacobson</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>2/25/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Grogan sends letter to
  Riegle, Jacobson, and Jordan asking for advice about Petition for
  Disqualification for Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>Grogan, Jacobson, Jordan,
  Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>2/26/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Grogan and Attchison go to
  Washington to lobby support for &quot;direct investment&quot; deregulation.</td>
  <td class=xl6525636 width=316 style='width:237pt'>Meets with McCain and
  Riegle</td>
  <td class=xl6825636 width=113 style='width:85pt'>Grogan, Attchison, McCain,
  Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Lincoln files lawsuit
  against &quot;direct investment&quot; laws</td>
  <td class=xl6525636 width=316 style='width:237pt'>Lincoln loses</td>
  <td class=xl6525636 width=113 style='width:85pt'>Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating calls DeConcini and
  asks him to set up meeting re: issues with Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Not the only time DeConcini
  had been contacted re: Gray. DeConcini thinks it was a good idea</td>
  <td class=xl6625636 width=113 style='width:85pt'>Keating, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle talks to McCain on
  Senate floor re: Keating's issues</td>
  <td class=xl6525636 width=316 style='width:237pt'>They go to Riegle's office
  after to discuss</td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle, McCain</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/2/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>AZ League of Savings and
  Loans Association issues complaint to VanPaasschen re: &quot;direct
  investment&quot; laws</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>VanPaasschen</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/6/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle meets with Gray re:
  FSLIC recapitalizaiton bill</td>
  <td class=xl6525636 width=316 style='width:237pt'>Secretary says Gray's
  office called Riegle</td>
  <td class=xl6625636 width=113 style='width:85pt'>Riegle, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>3/6/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Gray meets with Riegle to
  lobby for &quot;direct investment&quot; regulation</td>
  <td class=xl6525636 width=316 style='width:237pt'>At the end of the meeting,
  Riegle tells Gray that there are Senators that want to meet with him about
  the &quot;direct investment&quot; laws. According to Gray, Riegle says:
  &quot;You'll be getting a call&quot;</td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=120 style='height:90.0pt'>
  <td height=120 class=xl6425636 align=right width=85 style='height:90.0pt;
  width:64pt'>3/6/1987</td>
  <td class=xl6425636 align=right width=68 style='width:51pt'>3/8/1987</td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle visits Lincoln in
  Phoenix</td>
  <td class=xl6525636 width=316 style='width:237pt'>At the end of the visit,
  Riegle says he will try to set up a meeting with Gray. He also offers that it
  would help to have constituent Senators present. During the later
  investigation, Riegle says that the trip to Phoenix was on the pretense of
  another engagement</td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle, Lincoln, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/7/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>While Keating and Rielge
  meet privately, Grogan discusses fundraiser that Keating proposed for Riegle</td>
  <td class=xl6525636 width=316 style='width:237pt'>Held at the Ponchartrain
  Hotel</td>
  <td class=xl6625636 width=113 style='width:85pt'>Keating, Riegle, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/10/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle votes against
  cutting S&amp;L regulatory funding</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>3/13/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Arthur Young (Attchison's)
  letter sent to Riegle</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Attchison, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>3/13/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Bank Board Clears
  Henkel of Conflict Charge; Reagan Nominee Accused of Proposing Self-Serving
  Amendment</td>
  <td class=xl6525636 width=316 style='width:237pt'>The Federal Home Loan Bank
  Board has cleared Board member Lee Henkel of conflict-of-interest charges
  concerning a California savings and loan institution the Federal agency
  regulates, according to an internal bank board document.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/16/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Grogan attends meeting with
  Cranston and Riegle</td>
  <td class=xl6525636 width=316 style='width:237pt'>Talk about America Votes</td>
  <td class=xl6525636 width=113 style='width:85pt'>Cranston, Riegle, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/16/1987</td>
  <td class=xl6425636 align=right width=68 style='width:51pt'>3/17/1987</td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini's office recieves
  Attchison letter and other evidence of mistreatment</td>
  <td class=xl6525636 width=316 style='width:237pt'>Attchison letter was
  originally sent to Riegle</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Attchison</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/17/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Arthur Young (Attchison)
  letter sent to McCain's office</td>
  <td class=xl6525636 width=316 style='width:237pt'>VanPaasschen unaware of
  office receiving this letter</td>
  <td class=xl6525636 width=113 style='width:85pt'>Attchison, McCain,
  VanPaasschen</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/17/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>ACC sends DeConcini's
  office info. re: regulatory problems and ACC's responses</td>
  <td class=xl6525636 width=316 style='width:237pt'>Includes memo entitled
  &quot;Talking Points for Meeting with Ed Gray.&quot; Written on it:
  &quot;WON'T USE&quot;</td>
  <td class=xl6525636 width=113 style='width:85pt'>ACC, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/17/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini talks to Riegle
  and tells him he is having trouble with Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Asks him if he will help.
  Riegle later says to have meeting with Gray</td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/17/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Grogan meets with Riegle
  and asks for invite from McCain/DeConcini to attend meeting with Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Allegedly where Riegle
  tells Grogan to have DeConcini invite him</td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>3/19/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr prepares memo re:
  ACC's concerns for DeConcini</td>
  <td class=xl6525636 width=316 style='width:237pt'>ACC had sent DeConcini's
  office a bunch of material; Sedlmayr summarizes and adds editorial to it for
  DeConcini (believes she did this before meeting with McCain)</td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=140 style='height:105.0pt'>
  <td height=140 class=xl6425636 align=right width=85 style='height:105.0pt;
  width:64pt'>3/19/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain, DeConcini,
  VanPaasschen, and Sedlmayr meet in McCain's office re: Keating and Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Dicussed Keating's problems
  with audit and whether a meeting with Gray would be productive. McCain
  doesn't commit to DeConcini's suggestion to go to SF Regulators. DeConcini
  offers to go to Gray's office right there and then. McCain tells VanPaasschen
  afterwards he thinks that's inappropriate</td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, DeConcini,
  VanPaasschen, Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/19/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>VanPaasschen advises McCain
  that meeting with Gray and the SF Regulators would be improper</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>VanPaasschen, McCain</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/19/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini recieves summary
  of Keating's positions via &quot;Schedule&quot; memo</td>
  <td class=xl6525636 width=316 style='width:237pt'>Summarized by Sedlmayr</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Sedlmayr, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/20/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini calls Gray and
  asks if he will meet with the Senators re: Lincoln's problems with the Bank
  Board</td>
  <td class=xl6525636 width=316 style='width:237pt'>Gray says he will be happy
  to and they set the time. &quot;No aides&quot; was not mentioned in the
  conversation</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/20/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Petition filed to recuse
  Gray from the Bank Board</td>
  <td class=xl6525636 width=316 style='width:237pt'>Filed by Lincoln</td>
  <td class=xl6625636 width=113 style='width:85pt'>Gray</td>
  <td class=xl6525636 width=43 style='width:32pt'></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/23/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Fundraiser by Keating for
  Riegle held at his Ponchetrain Hotel</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6625636 width=113 style='width:85pt'>Riegle, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/23/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>VanPaasschen has long
  conversation with Attchison about the legitimacy of his letter</td>
  <td class=xl6525636 width=316 style='width:237pt'>Ends conversation believing
  his sincerity</td>
  <td class=xl6525636 width=113 style='width:85pt'>VanPaasschen, Attchison</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/23/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmyer tells VanPaasschen
  that Keating called McCain a &quot;wimp&quot; in conversaiton with DeConcini</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, VanPaasschen,
  McCain, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/24/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini meets with
  Keating</td>
  <td class=xl6525636 width=316 style='width:237pt'>Dicuss upcoming meeting
  with Gray</td>
  <td class=xl6625636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/24/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating and McCain meet in
  McCain's office</td>
  <td class=xl6525636 width=316 style='width:237pt'>McCain tells Keating he
  won't intervene for him. The two had a falling out</td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>3/24/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>VanPaasschen sends memo to
  McCain that supports Authur Young letter (after meeting with Keating)</td>
  <td class=xl6525636 width=316 style='width:237pt'>Memo includes info. that
  she got from Attchison: According to McCain, this research happens <font
  class="font625636">during</font><font class="font525636"> the meeting with
  Keating (when he says he won't talk to Gray for him)</font></td>
  <td class=xl6525636 width=113 style='width:85pt'>VanPaasschen, McCain,
  Attchison,<span style='mso-spacerun:yes'>  </span>Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>3/24/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain terminates
  relationship with Keating</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>3/27/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle votes again on the
  Senate floor to protect funding for S&amp;L regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>3/27/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain tells VanPaasschen
  that there is duscussion of four Senators meeting with Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Names the four Senators
  that will be involved; says DeConcini agreed to discussion points</td>
  <td class=xl6525636 width=113 style='width:85pt'>VanPaasschen, McCain,
  DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>3/31/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Justice Asked to
  Probe Bank Board Member; Justice Asked to Probe Henkel</td>
  <td class=xl6525636 width=316 style='width:237pt'>The Justice Department has
  been asked to determine if a top savings and loan regulator used his
  government office to try to benefit an S&amp;L that has lent him millions of
  dollars.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr sends DeConcini
  memo in preparation for April 2nd meeting</td>
  <td class=xl6525636 width=316 style='width:237pt'>At request of DeConcini</td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Date when McCain says he
  finds out other Senators will be at meeting with Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/2/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Henkel Resigns FHLBB
  Post, Criticizes Justice Dept. Probe; Henkel Quits Bank Board</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>4/2/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Meeting 1: McCain,
  DeConcini, Cranston, and Glenn meet w/ Gray in DeConcini's office</td>
  <td class=xl6525636 width=316 style='width:237pt'>First of the five Senator's
  meetings, VanPaasschen sits outside. Riegle is not in attendance. According
  to Gray, Reigle first summonsed him to this meeting</td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, DeConcini, Cranston,
  Riegle, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>4/2/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain recieves memo
  outlining two points he can talk about in meeting with Gray (from
  VanPaasschen)</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>VanPaasschen, McCain</td>
  <td class=xl7025636>#19</td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>4/3/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating sends
  &quot;Schedule&quot; memo to other Senators</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Riegle, McCain,
  Glenn, Cranston</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>4/3/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Grogan goes to Washington
  after the first meeting to talk to all the Senators and &quot;keep the team
  together&quot;</td>
  <td class=xl6525636 width=316 style='width:237pt'>Keating tells him to
  &quot;keep the team together&quot; and tell all the Senators how important
  attendance at the second meeting is to Keating</td>
  <td class=xl6525636 width=113 style='width:85pt'>Grogan, Keating, DeConcini,
  Glenn, Cranston, McCain, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>4/3/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Gray calls DeConcini to
  tell him that regulators will meet with Senators on the 9th</td>
  <td class=xl6525636 width=316 style='width:237pt'>DeConcini's office calls
  the other Senators' schedulers to let them know</td>
  <td class=xl6525636 width=113 style='width:85pt'>Gray, DeConcini, Glenn,
  Cranston, McCain, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>4/4/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle tells DeConcini to
  ask Sedlmayr not to contact his office re: meetings with Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Riegle's scheduler said he
  knew nothing about Riegle's involvement with the Gray meeting</td>
  <td class=xl6525636 width=113 style='width:85pt'>Rielge, DeConcini, Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>4/4/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr calls friend in
  Riegle's office to find out about his involvement in the matter</td>
  <td class=xl6525636 width=316 style='width:237pt'>The friend says he knows
  nothing about the meeting. DeConcini tells Sedlmayr that Rielge asked her not
  to contact his office about the matter</td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/5/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini calls Gray and
  tells him the Senators do want to meet with the SF Regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'>Gray sets up the meeting</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>4/9/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr drafts letter to
  Riegle inviting him to second meeting, from DeConcini and McCain</td>
  <td class=xl6525636 width=316 style='width:237pt'>Letter is only signed by
  DeConcini; Sedlmayr later testifed she thought the letter was unusual as it
  was her impression that the meeting was Riegle's idea</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Riegle, McCain,
  Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>4/9/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Meeting 2: Five Senators
  meet with SF Regulators in DeConcini's office</td>
  <td class=xl6525636 width=316 style='width:237pt'>McCain only asks about
  length of exam and fairness; Cranston attends only part of meeting due to
  business on Senate floor</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, McCain, Riegle,
  Cranston, Glenn, SF Regulators</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/9/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr meets with Grogan
  on the day of the April 9th meeting</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>4/10/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Both McCain and Glenn end
  all contact with Keating and SF Regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, Glenn, Keating, SF
  Regulators</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/10/1987</td>
  <td class=xl6425636 align=right width=68 style='width:51pt'>4/14/1987</td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan visits ACC (to look
  at their operation and land valuation etc.)</td>
  <td class=xl6525636 width=316 style='width:237pt'>Invited by Grogan, paid for
  by CA Thrift and Loan who she was making a speach for</td>
  <td class=xl6525636 width=113 style='width:85pt'>Jordan, Lincoln, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/10/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini calls Keating and
  tells him he can't expect much from the Bank Board</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>4/14/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Gray sends Riegle copy of
  Black Transcript</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Gray, Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/14/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Riegle ends all contact
  with Keating and SF Regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'>Except to later return
  contributions raised by Keating in early 1988</td>
  <td class=xl6525636 width=113 style='width:85pt'>Riegle</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>5/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Exam Report on Lincoln
  issued by SF Regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>SF Regulators, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>7/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Gray's term on the Bank
  Board ends</td>
  <td class=xl6525636 width=316 style='width:237pt'>M. Danny Wall appointed new
  Chairman</td>
  <td class=xl6525636 width=113 style='width:85pt'>Gray, FHLBB</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>7/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating offers to raise
  another $150,000 for Glenn</td>
  <td class=xl6525636 width=316 style='width:237pt'>Glenn declines</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, Glenn</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>7/29/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: S&amp;L Chief Says
  Bank Board Leaked Data to Discredit Him; S&amp;L Executive Sues Bank Board</td>
  <td class=xl6525636 width=316 style='width:237pt'>A California savings and
  loan executive who has feuded for years with the Federal Home Loan Bank Board
  has filed suit accusing the agency of leaking confidential financial
  information to discredit him and ruin his business.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>9/24/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson schedules meeting
  with Keating and Cranston for this date</td>
  <td class=xl6525636 width=316 style='width:237pt'>Jacobson says Keating is
  happy about Wall being appointed the new FHLBB Chairman. She then suggests
  that Cranston &quot;should ask Keating for $250,000&quot;</td>
  <td class=xl6525636 width=113 style='width:85pt'>Jacobson, Cranston, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>9/28/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan hears Bank Board is
  making a criminal referral to the Justice Department re: Lincoln</td>
  <td class=xl6525636 width=316 style='width:237pt'>Reads it in &quot;National
  Thrift News&quot;</td>
  <td class=xl6625636 width=113 style='width:85pt'>Jordan, FHLBB, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>12/1/1987</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Glenn sets up a luncheon
  between Keating, Wright, and himself</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Glenn, Wright, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>1/12/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jacobson schedules dinner
  for Cranston and Keating</td>
  <td class=xl6525636 width=316 style='width:237pt'>Keating surprises Cranston
  with $500,000 in checks</td>
  <td class=xl6525636 width=113 style='width:85pt'>Cranston, Keating, Jacobson</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/1/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>National Thrift News ranks
  Lincoln 39th of top 100 S&amp;Ls in net worth</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>3/1/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr recieves Black
  Transcript</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/18/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Cranston and Grogan talk
  via telephone about Lincoln</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Cranston, Grogan</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>4/30/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>ACC hires Attchison</td>
  <td class=xl6525636 width=316 style='width:237pt'>For an annual salary of
  approximately $930,000</td>
  <td class=xl6625636 width=113 style='width:85pt'>Lincoln, Attchison</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>5/6/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan sends memo to
  Cranston re: phone call with SF Regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'>SF Regulators confirm what
  she heard from Grogan re: the fact that they are taking aggressive action
  despite fraud admissions</td>
  <td class=xl6525636 width=113 style='width:85pt'>Jordan, Cranston, SF
  Regulators, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>5/14/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Bank Board and Lincoln
  enter into public Memorandum of Understanding</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>FLHBB, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>10/9/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: THE SAVINGS AND LOAN
  CRISIS; Edwin Gray on the S&amp;L Crisis 'This Was a Self-Inflicted Disaster'</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>10/9/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Savings &amp; Loans
  &amp; Intrigue &amp; 'Meddling'</td>
  <td class=xl6525636 width=316 style='width:237pt'>What was once a dirty
  little secret is now headline news: The American taxpayer will have to foot a
  bill, estimated at between $50 billion and $100 billion, to pay for the
  profligate pursuits of savings and loan operators.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>12/1/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Keating calls DeConcini to
  make request (DeConcini says no)</td>
  <td class=xl6525636 width=316 style='width:237pt'>Asks for DeConcini to call
  new FHLBB Chairman Wall and see if he will hold the audit and push for
  approval of Lincoln's sale. Keating needs more time to sell the company to
  keep ACC viable. Instead, DeConcini just makes a status inquiry</td>
  <td class=xl6525636 width=113 style='width:85pt'>Keating, DeConcini, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>12/1/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan, Cranston, and
  Keating have dinner</td>
  <td class=xl6525636 width=316 style='width:237pt'>Keating says he's getting
  out of the business</td>
  <td class=xl6525636 width=113 style='width:85pt'>Jordan, Cranston, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>12/21/1988</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini sends Sedlmayr
  memo re: sale of Lincoln</td>
  <td class=xl6525636 width=316 style='width:237pt'>DeConcini seems to express
  genuine concern about general state of AZ economy, not just political favor
  to Keating</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Sedlmayr, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=120 style='height:90.0pt'>
  <td height=120 class=xl6425636 align=right width=85 style='height:90.0pt;
  width:64pt'>2/7/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan, DeConcini, Gottlieb
  (a Riegle aide), Sedlmayr, Cranston and Grogan meet in DeConcini's office re:
  sale of Lincoln.</td>
  <td class=xl6525636 width=316 style='width:237pt'>Grogan talks about
  Lincoln's intent to sell; seeking help in getting Bank Board to approve the
  sale</td>
  <td class=xl6525636 width=113 style='width:85pt'>Grogan, Sedlmayr, Cranston,
  Jordan, FHLBB, DeConcini, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>2/8/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Jordan calls Dochow (FHLBB
  Regulation Supervisor)</td>
  <td class=xl6525636 width=316 style='width:237pt'>Wants to check on why the
  Bank Board is involved in selling this early (if Lincoln is a healthy
  company, as she thought). Dochow says Lincoln's net worth is in dispute</td>
  <td class=xl6525636 width=113 style='width:85pt'>Jordan, FHLBB, Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/9/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr sends memo to
  DeConcini re: meeting with Grogan</td>
  <td class=xl6525636 width=316 style='width:237pt'>Drafts talking points for
  call with new FHLBB Chairman Wall</td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>2/15/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini calls new FHLBB
  Chairman Wall and other members</td>
  <td class=xl6525636 width=316 style='width:237pt'>To push for approval of
  sale of Lincoln</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Wall, FHLBB,
  Lincoln</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>5/25/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain sends letter to Gray
  asking if his actions were improper</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Gray, McCain</td>
  <td class=xl7025636>#24</td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>5/30/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Sedlmayr drafts response to
  Gray-McCain letter for DeConcini</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Sedlmayr, DeConcini</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>5/30/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Gray responds to McCain's
  letter</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Gray, McCain</td>
  <td class=xl7025636>#14</td>
 </tr>
 <tr height=60 style='height:45.0pt'>
  <td height=60 class=xl6425636 align=right width=85 style='height:45.0pt;
  width:64pt'>6/14/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: THE $150 BILLION
  CALAMITY; Hardening the S&amp;L Battle Lines 'You Can't Restrict Our
  God-Given Right to Make Profits!'</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>6/20/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini sends letter to
  Gray</td>
  <td class=xl6525636 width=316 style='width:237pt'>Says Gray's response to
  McCain's letter is bogus</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Gray</td>
  <td class=xl6525636 width=43 style='width:32pt'>LINK</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 align=right width=85 style='height:15.0pt;
  width:64pt'>6/20/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>McCain calls Gray about
  letters</td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'>McCain, Gray</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=100 style='height:75.0pt'>
  <td height=100 class=xl6425636 align=right width=85 style='height:75.0pt;
  width:64pt'>9/16/1989</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: $1.1 Billion Bank
  Fraud Suit Filed; New Rescue Agency Accuses S&amp;L Owner of Racketeering,
  U.S. Regulators File Suit Against Calif. S&amp;L Owner</td>
  <td class=xl6525636 width=316 style='width:237pt'>Federal banking regulators
  yesterday filed the biggest bank fraud lawsuit ever, accusing Arizona real
  estate developer Charles Keating and his associates of directing a
  racketeering scheme that destroyed...</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=40 style='height:30.0pt'>
  <td height=40 class=xl6425636 align=right width=85 style='height:30.0pt;
  width:64pt'>1/1/1990</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>DeConcini returns Keating's
  contributions</td>
  <td class=xl6525636 width=316 style='width:237pt'>After Federal government
  files a lawsuit charging civil fraud. This was a campaign-wide policy of his</td>
  <td class=xl6525636 width=113 style='width:85pt'>DeConcini, Keating</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=80 style='height:60.0pt'>
  <td height=80 class=xl6425636 align=right width=85 style='height:60.0pt;
  width:64pt'>3/5/1990</td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'>Media: Keating, Failed King
  of Thrifts, Lincoln S &amp; L's Deposed Chief, Blasting Back at the
  Regulators</td>
  <td class=xl6525636 width=316 style='width:237pt'>Federal officials say the
  taxpayer bailout of Keating's bankrupt Lincoln Savings and Loan - one of
  hundreds of failed thrifts nationwide - could cost every man, woman and child
  in America $10 each.</td>
  <td class=xl6525636 width=113 style='width:85pt'>Media</td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl1525636 colspan=3 style='height:15.0pt'>*Note, if no
  end date listed, it is the same as the start date.</td>
  <td class=xl1525636></td>
  <td class=xl1525636></td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 width=85 style='height:15.0pt;width:64pt'></td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'></td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'></td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 width=85 style='height:15.0pt;width:64pt'></td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'></td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'></td>
  <td class=xl7025636></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6425636 width=85 style='height:15.0pt;width:64pt'></td>
  <td class=xl6525636 width=68 style='width:51pt'></td>
  <td class=xl6525636 width=296 style='width:222pt'></td>
  <td class=xl6525636 width=316 style='width:237pt'></td>
  <td class=xl6525636 width=113 style='width:85pt'></td>
  <td class=xl7025636></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=85 style='width:64pt'></td>
  <td width=68 style='width:51pt'></td>
  <td width=296 style='width:222pt'></td>
  <td width=316 style='width:237pt'></td>
  <td width=113 style='width:85pt'></td>
  <td width=43 style='width:32pt'></td>
 </tr>
 <![endif]>
</table>