---
name: timeline
---
<p>Click and drag or use scroll wheel to navigate.
Hover over event to see details below.
Jan-May 1987 is expanded in the second timeline below.<br />
Click <a href="/timeline-data">here</a> for data in table format.</p>
<div id="timeline" style="overflow:hidden;"></div>
<div id="title" style="height: 150px;"></div>
<div id="mtimeline" style="overflow:hidden;"></div>
<div id="mtitle" style="height: 150px;"></div>
<script type="text/javascript">timeline();</script>