---
name: actors
---

<h2> ACC</h2>

<div class="right-column">
        
     
    <h2>Exhibits</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/15">Exhibit #140: Memo, Sedlmayr to DeConcini, "American Continental"</a></li>
            </ul>
        
    </div>

<img src="https://apps.college.brown.edu/keating5/img/actors/american_continental_corp.png" alt="ACC" class="float-left">
<p>American Continental Corporation was a Phoenix, Arizona-based real estate company that was active in the 1970s and 1980s. It was created in 1978 as a spin-off of American Financial Group, &nbsp;and was intended to do residential home construction. Its chairman was Charles Keating, who moved to Phoenix to run it. By 1981, Keating had two thousand employees on his payroll, was one of the largest land developers in Arizona, and benefited from a boom in home building in Arizona.&nbsp;</p><p>In February 1984, American Continental Corporation acquired the underperforming Lincoln Savings and Loan Association for $51 million Much of American Continental's assets were in the form of Arizona real estate, junk bonds, and mortgage-backed securities.[4] Lincoln Savings expanded into aggressive, risky land development deals and financial arrangements, including loans due to American Continental. For most of 1987, American Continental was profitable, but by 1988, losses mounted due to financial troubles and other negative events at Lincoln Savings. By 1989, Lincoln made up 90 percent of American Continental's assets.&nbsp;<br></p><p>On April 13, 1989, American Continental Corporation filed for Chapter 11 bankruptcy.[4] Lincoln’s loss of investors' life savings became one of the key events of the 1980s savings and loan crisis and the core of the Keating Five political scandal.<br></p><p><br></p>
<br clear="all">