---
name: actors
---

<h2>Charles Keating</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/36">Testimony - James Grogan, ACC's Chief Counsel</a></li>
            </ul>
        
     
    <h2>Exhibits</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/20">Exhibit #256: Arthur Young Letter, Jack Attchison</a></li>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/26">Exhibit: Black Transcript</a></li>
            </ul>
        
    </div>

<img src="https://apps.college.brown.edu/keating5/img/actors/Keating.jpg" alt="Charles Keating" class="float-left">
<p>Charles Keating III (Owner of ACC and Lincoln S&amp;L)</p><p>Charles Keating grew up in Cincinnati, OH, where he attended the University of Cincinnati for his undergraduate work and, after serving in the Navy, law school. Beginning his career as a lawyer in the late 1950s, he established himself as an anti-pornography crusader, founding decency organizations and serving as a dissenting member on the President’s Commission on Obscenity and Pornography. While trying his hand at law by working for the FBI and a corporate law firm, Keating also experimented with other businesses: he sold life insurance, ran a fruit stand and worked for Roto-Rooter. In 1960, Keating and his client, Carl Lindner, created American Financial Corporation (AFC), a holding company for Lindner’s disparate businesses that created further subsidiaries and financial instruments, which all did business with each other. While on the board of directors at AFC, Keating developed a reputation for aggressiveness and arrogance. By 1975 and 1976, several stockholder lawsuits were filed against AFC, and Keating was under fire. The Securities and Exchange Commission launched a major investigation of the company and charged Linder and Keating of having defrauded investors of their own benefit and filing false SEC reports. Keating resigned from AFC in 1976 and moved to Phoenix, Arizona to run the real estate firm, American Continental Homes (ACH).&nbsp;<br></p><p>Keating turned ACH around the (now-renamed <a href="https://apps.college.brown.edu/keating5/actors/affiliates/acc" title="" target="">American Continental Corporation</a>, ACC) By the early 1980s the once failing company’s profits were in the millions. It had become the biggest single-family homebuilder in Phoenix and Denver. In 1984, ACC bought <a href="https://apps.college.brown.edu/keating5/actors/affiliates/lincoln" title="" target="">Lincoln Savings and Loan</a>, an Irvine, California thrift. Keating practically eliminated traditional home lending. Keating took full advantage of California's liberalized investment powers and established a high-risk operation characterized by explosive growth and excessive concentrations in speculative activities. (Note: the crminal case barely touches on the debenture issue, whereby 23,000 Californians, mostly elderly, lost $300 million from worthless paper.) Keating became the highest paid executive of all public companies in Arizona. Five other ACC employees were in the top ten-- including Jack Atchison, the former manager of Arthur Young and ACC's auditor for 1986 and 1987. (Keating hired Atchison away from Arthur Young for an annual salary of approximately $900,000 in 1989). When the government took over Lincoln, it was 65th in assets among the almost 3,000 savings and loan institutions in the United States and was first in development and construction loans.&nbsp;</p><p>Keating was very politically active. Besides being an outspoken anti-pornography activist, he also made large contributions to various politicians and focused a great deal of his energy on lobbying for legislation that would benefit him and his company. When newly appointed Bank Board Chair <a href="https://apps.college.brown.edu/keating5/actors/supporting_cast/ed-gray" title="" target="">Ed Gray</a> started proposing regulations that disrupted Lincoln’s practices, Keating attempted to hire him out of his position. When this didn’t work, some believed that Keating leaked multiple <a href="https://apps.college.brown.edu/keating5/evidence" title="" target="">incriminating stories</a>&nbsp;about Gray to the press in an effort to “drive him out of his job.”&nbsp;<br></p><p>In March 1986, the FHLBB began its first major examination of Lincoln in two years. The last examination, conducted six months after Keating acquired Lincoln, revealed "appraisal difficulties," "an overvaluation of capital," and "lack of an internal audit committee." Keating made multiple complaints to Senator <a href="https://apps.college.brown.edu/keating5/actors/senators/Dennis-DeConcini" title="" target="">DeConcini</a>, <a href="https://apps.college.brown.edu/keating5/actors/senators/Alan-Cranston" title="" target="">Cranston</a> and <a href="https://apps.college.brown.edu/keating5/actors/senators/Don-Riegle" title="" target="">Riegle’s</a> offices that the examination was "months overdue" and that the FHLBB was harassing him and leaking information to discredit him because he was critical of Ed Gray. The <a href="https://apps.college.brown.edu/keating5/actors/supporting_cast/sf-regulators" title="" target="">San Francisco regulators</a> claimed that, under the circumstances, the Lincoln examination was not unusually long. When a thrift has engaged in complex transactions, is troubled, or does not cooperate, the examination takes longer. All three applied to Lincoln. There were unusually complicated tax agreements, potentially "troubled" real estate holdings, and "junk bond" investments. Moreover, hostilities surfaced at July 3, 1986 meeting, which discussed the preliminary findings of the examination. Keating berated the examiners and threatened to sue the Supervisory Agent in his personal capacity. &nbsp; For two weeks, Lincoln refused to permit the examination to continue. Keating then insisted that the examiners conduct their examination through Lincoln's New York litigation counsel. This unusual arrangement was later approved by the FHLBB with the proviso that Lincoln's counsel move to Phoenix.</p><p>ACC’s lawyer and Keating’s chief legal counsel, <a href="https://apps.college.brown.edu/keating5/actors/affiliates/james-grogan" title="" target="">James Grogan</a>, did a significant amount of Keating’s political lobbying. In late February 1987, the offices of Senator Cranston, DeConcini, and Riegle all received letters from Grogan soliciting advice regarding their motion to disqualify Ed Gray from the bank board. Around the same time, he and <a href="https://apps.college.brown.edu/keating5/actors/affiliates/attchison" title="" target="">Jack Attchison</a>, a managing partner at the Arthur Young accounting firm that conducted Lincoln’s audits, went to DC to lobby against new direct investment regulations on behalf of Keating.&nbsp;</p><p>Grogan claims that Riegle was the chief organizer of the meetings. He says Riegle was the first one to tell him that Gray would meet with the Senators. Grogan also claims that Riegle repeatedly asked him to convince DeConcini and McCain to attend the meeting with Gray and to get McCain to send a letter inviting Riegle to the meeting. Grogan also sent the “Arthur Young” letter (<a href="http://apps.college.brown.edu/keating5/evidence/download/20" title="" target="">Exhibit #256</a>), which was written by Jack Atchison and that concluded that federal regulators were "harassing" Lincoln by being "unduly harsh."<br></p><p>After the April 2nd meeting, Keating received word that the senators were extremely frustrated with the lack of information Gray had provided. Keating sent Grogan to D.C. to “keep the team together.” &nbsp;Grogan met with each of the senators to reiterate how important their presence at the second meeting was to Keating. Keating also sent DeConcini a “schedule” of the topics he wanted the senators to discuss with the regulators. There is evidence that this schedule circulated among the Senators and some of their staff. After the April 9th meeting, <a href="https://apps.college.brown.edu/keating5/actors/senators/John-Glenn" title="" target="">Senator Glenn</a> told Grogan that he didn’t think the Bank Board was going to be able to help them. Both Grogan and Keating entirely terminated their inquiries into the regulation, which caused some to think that Grogan and Keating were given a tip about the criminal referral.&nbsp;<br></p><p>On July 11, 1988, federal regulators in Seattle began another examination of Lincoln. The exam lasted over four months; exit conferences occurred just before Thanksgiving. Keating's financial problems were becoming increasingly more public. In September, when Keating's opulent Phoenician Hotel opened, the Phoenix Gazette noted that "the taxpayer's are taking the risk" and the hotel is "likely to push Lincoln into bankruptcy." In October, Forbes ran a story about the risky subordinated debentures offered by Keating in California. This $300 million public offering, "subordinated" to $113 million in ACC debt, became completely worthless six months later when ACC filed for bankruptcy. His written instructions to the salesmen were "the weak, the meek and the ignorant are our natural targets.” Most purchasers thought the debentures were, like other Lincoln accounts, federally-insured.<br></p><p>The Examination Report was delivered on December 12, 1988. It contained substantial justification for a detailed Cease and Desist Order. The Office of Enforcement advised the Seattle regulators that proceeding might violate the Agreement negotiated with Keating, since Lincoln had not had a chance to respond. Eight days later, when the supervisory letter and examination report was sent to Lincoln, ACC agreed to sell Lincoln to an investor group called Lincoln Acquisition Corporation (LAC). Senators DeConcini and Cranston reasoned that a sale was better than bankruptcy. They called various regulators either to urge approval or to check on the status of the sale. Both called Gray's successor, M. Danny Wall, who testified that they "urged prompt consideration." The proposed sale fell through because the Bank Board concluded it was a "sham" sale -- Keating was trying to "transfer" control to himself.</p><p>Federal examiners who were on site at Lincoln in early March, 1989 found an immediate cash flow problem. The same day, ACC proposed a second sale: ACC would sell Lincoln to an investor group (imaginatively) called Lincoln Acquisition Savings Corporation (LASC). After studying the proposal, the staff recommended that the Bank Board reject the application because "there was no real economic benefit to Lincoln." Again, DeConcini and Cranston called various regulators. Cranston even met personally with Wall, chairman of the Bank Board. The second sale fell through because it was not deemed an “arms' length” transaction.&nbsp;</p><p>Days later, LASC filed an amended application, which provided for the removal of all current Lincoln and ACC insiders from the Board of Directors. Cranston called Bank Board member Martin at his unlisted home number at 10 PM. Martin says he didn't give out the number, and has never been called at home by a Senator -- other than DeConcini who called very early the next morning, seemingly using "the same script," according to Martin. DeConcini also called John Goeghegan, a California regulator and allegedly sought assurances that the regulator would keep quiet one of his underlings' objections to the sale.&nbsp;</p><p>ACC filed for bankruptcy on April 13, 1989, after the third sale fell through. It was almost exactly two years since the San Francisco regulators had recommended conservatorship. The Resolution Trust Corporation seized Lincoln on April 14th. The estimated cost to the taxpayers: $2 billion.&nbsp;</p><p>On September 15th, the Resolution Trust Corporation filed the biggest bank fraud lawsuit ever" -- a $1.1 billion racketeering [RICO] suit against Keating. Later that month, Keating was booked into Los Angeles County Jail, charged with 42 counts of fraud. His bond was set at $5 million. During Keating's trial, the prosecution produced a parade of elderly investors who lost their life's savings by investing in American Continental junk bonds. Keating was convicted in both federal and state courts of many counts of fraud, racketeering, and conspiracy. He served four and a half years in prison before those convictions were overturned in 1996. In 1999, he pleaded guilty to a more limited set of wire fraud and bankruptcy fraud counts, and was sentenced to the time he had already served.</p><p>






<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Revision>0</o:Revision>
  <o:TotalTime>0</o:TotalTime>
  <o:Pages>1</o:Pages>
  <o:Words>45</o:Words>
  <o:Characters>260</o:Characters>
  <o:Company>Brown University</o:Company>
  <o:Lines>2</o:Lines>
  <o:Paragraphs>1</o:Paragraphs>
  <o:CharactersWithSpaces>304</o:CharactersWithSpaces>
  <o:Version>14.0</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:AllowPNG></o:AllowPNG>
 </o:OfficeDocumentSettings>
</xml><![endif]-->

<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Normal</w:View>
  <w:Zoom>0</w:Zoom>
  <w:TrackMoves></w:TrackMoves>
  <w:TrackFormatting></w:TrackFormatting>
  <w:PunctuationKerning></w:PunctuationKerning>
  <w:ValidateAgainstSchemas></w:ValidateAgainstSchemas>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF></w:DoNotPromoteQF>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>JA</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables></w:BreakWrappedTables>
   <w:SnapToGridInCell></w:SnapToGridInCell>
   <w:WrapTextWithPunct></w:WrapTextWithPunct>
   <w:UseAsianBreakRules></w:UseAsianBreakRules>
   <w:DontGrowAutofit></w:DontGrowAutofit>
   <w:SplitPgBreakAndParaMark></w:SplitPgBreakAndParaMark>
   <w:EnableOpenTypeKerning></w:EnableOpenTypeKerning>
   <w:DontFlipMirrorIndents></w:DontFlipMirrorIndents>
   <w:OverrideTableStyleHps></w:OverrideTableStyleHps>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"></m:mathFont>
   <m:brkBin m:val="before"></m:brkBin>
   <m:brkBinSub m:val="&#45;-"></m:brkBinSub>
   <m:smallFrac m:val="off"></m:smallFrac>
   <m:dispDef></m:dispDef>
   <m:lMargin m:val="0"></m:lMargin>
   <m:rMargin m:val="0"></m:rMargin>
   <m:defJc m:val="centerGroup"></m:defJc>
   <m:wrapIndent m:val="1440"></m:wrapIndent>
   <m:intLim m:val="subSup"></m:intLim>
   <m:naryLim m:val="undOvr"></m:naryLim>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="276">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"></w:LsdException>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"></w:LsdException>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"></w:LsdException>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"></w:LsdException>
  <w:LsdException Locked="false" Priority="0" Name="Default Paragraph Font"></w:LsdException>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"></w:LsdException>
  <w:LsdException Locked="false" Priority="0" Name="Hyperlink"></w:LsdException>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"></w:LsdException>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"></w:LsdException>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"></w:LsdException>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"></w:LsdException>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"></w:LsdException>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"></w:LsdException>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"></w:LsdException>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"></w:LsdException>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"></w:LsdException>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"></w:LsdException>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"></w:LsdException>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"></w:LsdException>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"></w:LsdException>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"></w:LsdException>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"></w:LsdException>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"></w:LsdException>
 </w:LatentStyles>
</xml><![endif]-->

<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]-->



<!--StartFragment-->[1] In
1987, Keating sent Lincoln's General Counsel a memo to "Get Black" --
the San Francisco regulator, closest to Gray, who took copious notes at the
April 9th meeting. Keating told Grogan: "if you can't get [former House
Speaker Jim] Wright and Congress to get Black--kill him dead--you ought to
retire."<!--EndFragment-->&nbsp; &nbsp;&nbsp;<br></p>
<br clear="all">