---
name: actors
---

<h2>Charles Keating, III</h2>

<div class="right-column">

  <h2>Exhibits</h2>
      <ul>
              <li><a href="/files/exhibits/Keating/Keating Pleads Guilty to Fraud_ Legal Saga Ends - Los Angeles Times.pdf">Keating Pleads Guilty to Fraud; Legal Saga Ends - Los Angeles Times</a></li>
      </ul>

  <h2>Video</h2>
      <ul>
              <li><a href="/videos/Keating - Part I">Keating - Part I</a></li>
              <li><a href="/videos/Keating - Part II">Keating - Part II</a></li>
      </ul>

</div>

<img src="/img/actors/Keating.jpg" alt="Charles Keating" class="float-left">
<p><u>Owner of ACC and Lincoln S&L</u></p>

<p>Charles Keating grew up in Cincinnati, Ohio. He attended the University of Cincinnati as an undergraduate and, after serving in the Navy, for law school. He became a founding partner of Keating, Muething & Keating in Cincinnati. In 1960, Keating and his client, Carl Lindner, created American Financial Corporation (AFC), a holding company for Lindner’s disparate businesses. Several stockholder lawsuits were filed against AFC and the Securities and Exchange Commission launched a major investigation of the company, charging Linder and Keating of having defrauded investors and filing false SEC reports. Keating resigned from AFC in 1976 and moved to Phoenix, Arizona to run a real estate firm, American Continental Homes (ACH).</p>

<p>Keating turned ACH (now-renamed American Continental Corporation, <a href="/actors/affiliates/ACC">ACC</a>) around. By the early 1980s, the once failing company had become the biggest single-family homebuilder in Phoenix and Denver. In 1984, ACC bought <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln Savings and Loan</a>, an Irvine, California thrift. Keating practically eliminated traditional home lending, taking full advantage of California’s liberalized investment powers<a href="#section1"><sup>1</sup></a> and established a high-risk operation characterized by explosive growth and investments concentrated in speculative activities. At the time, Keating was the highest paid executive of all public companies in Arizona. Five other ACC employees were also in the top ten – including <a href="/actors/affiliates/Jack-Atchison">Jack Atchison</a>. When the FHLBB eventually took over Lincoln, it was 65th in assets among the almost 3,000 savings and loan institutions in the United States and first in development and construction loans.</p>

<p>Keating was politically active. Besides being an outspoken anti-pornography activist, he also made large contributions to many politicians and focused a great deal of his energy on lobbying for legislation that would benefit his company. When newly appointed Bank Board chairman <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a> started proposing regulations that disrupted Lincoln’s practices, Keating attempted to hire him out of his position. When this didn’t work, some believed that Keating leaked multiple <a href="/evidence">incriminating stories</a> about Gray to the press in an effort to “drive him out of his job.” In 1987, Keating sent ACC lawyer and Keating’s chief legal counsel, <a href="/actors/affiliates/James-Grogan">James Grogan</a>, a <a href="/files/exhibits/Lincoln/%234 _Get Black_ Memo 07-15-87.jpeg">memo</a> to “Get Black” – the San Francisco regulator closest to Gray, who took copious notes (the "<a href="/files/exhibits/Gray/Black Transcript 04-10-87.pdf">Black Transcript</a>" at the April 9th meeting.</p>

<p>On September 15th, 1989 – after the government takeover of Lincoln earlier that year – the Resolution Trust Corporation filed the biggest bank fraud lawsuit ever – a $1.1 billion racketeering suit against Keating. Later that month, Keating was booked at Los Angeles County Jail, charged with 42 counts of fraud. His bond was set at $5 million. During Keating’s trial, the prosecution produced a parade of elderly investors who lost their life’s savings by investing in ACC junk bonds. In California, nearly 23,000 mostly elderly residents lost almost $300 million.</p>

<p>Keating was convicted in both Federal and state courts of fraud, racketeering, and conspiracy. He served four-and-a-half years in prison before both convictions were overturned in 1996 because flawed of jury instructions that violated Keating’s due-process rights. In 1999, he <a href="/files/exhibits/Keating/Keating Pleads Guilty to Fraud_ Legal Saga Ends - Los Angeles Times.pdf">pled</a> guilty to a more limited set of wire and bankruptcy fraud counts, and was sentenced to the time he had already served. Keating has always maintained his innocence.</p>

<p><p id="section1"><sup>1</sup></p>While the FHLBB had an oversight role over all of the nation’s S&Ls, most of their regulations applied only to Federally-chartered ones. Thrifts that were state-chartered (as Lincoln was in California) had to abide by the laws of their state.</p>

<br clear="all">
