---
name: actors
---

<h2>Jack Attchison</h2>



<p>Jack Atchison was the manager of Arthur Young, one of the "big four" U.S. accounting firms. While working at Arthur Young, he conducted a number of ACC’s audits during the 1980s and penned the famous "Arthur Young Letter," which outlined the reasons for his belief that the San Francisco Regulators abused Lincoln S&amp;L, a viable institution.&nbsp;</p><p>Many of the Senators and their aides cited this letter as a major motivation to contact Gray and to inquire about the Bank Board’s exam on Keating's behalf.&nbsp;<br></p><p>In 1990, Keating hired Atchison away from Arthur Young for an annual salary of approximately $900,000.<br></p><p><br></p>
<br clear="all">