---
name: actors
---

<h2>Jack Atchison</h2>

<p>Arthur Young accountant and Lincoln employee</p>

<p>
Jack Atchison was a manager at Arthur Young, one of the “big 
four” U.S. accounting firms. While working at Arthur Young, he 
conducted a number of ACC’s external audits during the 1980s and 
penned the famous Arthur Young letter,” which outlined the reasons for
his belief that the San Francisco regulators abused Lincoln S&L, an 
apparently viable institution.</p>
<p>Many of the senators and their aides cited this letter as a major 
motivation to contact Gray and to inquire about the Bank Board’s exam
on Keating’s behalf. </p>
In 1990, Keating hired Atchison away from Arthur Young for an 
annual salary of approximately $900,000.</p>
<br clear="all">