---
name: actors
---

<h2>James Grogan</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="/files/evidence/36">Testimony - James Grogan, ACC's Chief Counsel</a></li>
            </ul>

        <h2>Video</h2>
    <ul>
                <li><a href="/videos/Grogan">Grogan</a></li>
            </ul>
    </div>

<img src="/img/actors/Grogan.png" alt="James Grogan" class="float-left">
<p><u>ACC Chief Counsel</u></p>

<p>James “Jim” Grogan was <a href="/actors/affiliates/ACC">ACC’s</a> chief counsel and <a href="/actors/affiliates/Charles-Keating">Charles Keating’s</a> “right-hand policy man.” Grogan did a significant amount of Keating’s behind-the-scenes work in lobbying various politicians to support different bills that were beneficial to ACC and <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln</a>. A number of the senators say that they or their staff dealt mostly with Grogan, not Keating, in the months surrounding the April 1987 meetings. The infamous <a href="/files/exhibits/Lincoln/%234 _Get Black_ Memo 07-15-87.jpeg">“Get Black” memo</a> penned by Keating was addressed to Grogan. During the Senate Ethics Committee hearings, Grogan requested and was granted a private session and was granted immunity for the release of that session’s transcript into evidence.</p>

<p>During the hearings, Grogan claims that <a href="/actors/senators/Don-Riegle">Senator Riegle</a> was the chief organizer of the Keating Five meetings. He says Riegle was the first one to tell him that <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a> would meet with the senators. Grogan also claims that Riegle repeatedly asked him to convince Senators <a href="/actors/senators/Dennis-DeConcini">DeConcini</a> and <a href="/actors/senators/John-McCain">McCain</a> to attend the meeting with Gray, and to get McCain to send a letter inviting Riegle to the meeting. Grogan also sent the <a href="/files/exhibits/Lincoln/%233 Arthur Young Letter 03-17-87.pdf">Arthur Young letter</a>, written by <a href="/actors/affiliates/Jack-Atchison">Jack Atchison</a>, which concluded that Federal regulators were “harassing” Lincoln by being “unduly harsh.”</p>

<p>After the April 2nd meeting, Keating received word that the senators were extremely frustrated with the lack of information Gray had provided. Keating sent Grogan to D.C. to “keep the team together.” Grogan met with each of the senators to reiterate how important their presence at the second meeting was to Keating. Keating also sent DeConcini a “schedule” of the topics he wanted the senators to discuss with the regulators. There is evidence that this schedule circulated among the senators and some of their staff. After the April 9th meeting, <a href="/actors/senators/John-Glenn">Senator Glenn</a> told Grogan that he did not think the <a href="/actors/supporting_cast/FHLBB">Bank Board</a> was going to be able to help them. Both Grogan and Keating entirely terminated their inquiries into the regulation, which caused some to think that Grogan and Keating were given a tip about the criminal referral.</p>

<br clear="all">
