---
name: actors
---

<h2> Lincoln Savings and Loan</h2>
<div class="right-column">
    <h2>Exhibits</h2>
    <ul>
                <li><a href="/files/exhibits/Lincoln/%231 Greenspan Supports Lincoln 02-13-85.pdf">Exhibit #1: Greenspan Supports Lincoln 02-13-85</a></li>
<li><a href="/files/exhibits/Lincoln/%232 Lincoln's View 06-20-84.pdf">Exhibit #2: Lincoln's View 06-20-84</a></li>
<li><a href="/files/exhibits/Lincoln/%233 Arthur Young Letter 03-17-87.pdf">Exhibit #3: Arthur Young Letter 03-17-87</a></li>
<li><a href="/files/exhibits/Lincoln/%234 _Get Black_ Memo 07-15-87.jpeg">Exhibit #4: "Get Black" Memo 07-15-87</a></li>
<li><a href="/files/exhibits/Lincoln/%235 Keating to McCain 07-31-86.pdf">Exhibit #5: Keating to McCain 07-31-86</a></li>
            </ul>
    </div>

<p><img src="/img/actors/Lincoln-Savings.jpg" alt="Lincoln Savings and Loan" class="float-left"></p>

<p>The Lincoln Savings and Loan Association of Irvine, California was the financial institution at the heart of the Keating Five scandal. Through the early 1980s, Lincoln was a conservatively run enterprise. Almost half its assets were in home loans and only a quarter were considered “at-risk” investments. It had slow growth at best, and sustained losses for several years until 1983, when it made a profit of a few million dollars.</p>

<p>In February 1984, <a href="/actors/affiliates/Charles-Keating">Charles Keating</a> became the head of Lincoln. As chairman of a home construction company, American Continental Corporation (<a href="/actors/affiliates/ACC">ACC</a>), he purchased Lincoln for $51 million. Keating fired the existing management and, over the next four years, Lincoln’s assets increased from $1.1 billion to $5.5 billion. Keating took keen advantage of the deregulation of savings and loan associations in the early 1980s, which allowed them to make highly risky investments with their depositors’ money. In February 1985, Alan Greenspan sent a <a href="/files/exhibits/Lincoln/%231 Greenspan Supports Lincoln 02-13-85.pdf">letter</a> to officials of the Federal Home Loan Bank of San Francisco. The letter supported Lincoln’s application for an exemption to a <a href="/actors/supporting_cast/FHLBB">Bank Board</a> rule forbidding the bank from using large amounts of capital for certain risky investments.</p>

<p>On July 11th, 1988, <a href="/actors/supporting_cast/SF-Regulators">Federal regulators</a> began another examination of Lincoln. This exam lasted over four months. The FHLB-SF Examination Report was delivered on December 12th, 1988. It contained substantial justification for a detailed Cease and Desist Order. The Bank Board staff advised the regulators that proceeding might violate the agreement negotiated with Keating, since Lincoln had not had a chance to respond. Eight days later, when the Supervisory Letter and Examination Report was sent to Lincoln, ACC agreed to sell Lincoln to an investor group called the Lincoln Acquisition Corporation (LAC). Senators <a href="/actors/senators/Dennis-DeConcini">DeConcini</a> and <a href="/actors/senators/Alan-Cranston">Cranston</a> reasoned that a sale was better than bankruptcy. They called various regulators either to urge approval or to check on the status of the sale. Both called Bank Board chairman <a href="/actors/supporting_cast/Ed-Gray">Ed Gray’s</a> successor, <a href="/actors/supporting_cast/Danny-Wall">M. Danny Wall</a>, who testified that they “urged prompt consideration.” The proposed sale fell through because the Bank Board concluded it was a “sham” sale – Keating was trying to “transfer” control to himself.</p>

<p>Federal examiners who were on site at Lincoln in early March 1989 found an immediate cash flow problem. That same day, ACC proposed a second sale: ACC would sell Lincoln to an investor group called Lincoln Acquisition Savings Corporation (LASC). After studying the proposal, the staff recommended that the Bank Board reject the application because “there was no real economic benefit to Lincoln.” Senators DeConcini and Cranston again reached out to various regulators. Cranston met personally with Wall. The second sale fell through because it was not deemed an “arms’ length” transaction.</p>

<p>Days later, LASC filed an amended application, which provided for the removal of all current Lincoln and ACC insiders from its board of directors. Cranston called Bank Board member Martin at his unlisted home number at 10pm. Martin says he didn't give out the number, and has never been called at home by a senator – other than DeConcini who called very early the next morning, seemingly using “the same script,” according to Martin. DeConcini also called a California regulator and allegedly sought assurances that the regulator would keep quiet one of his underling's objections to the sale.</p>

<p>ACC filed for bankruptcy on April 13th, 1989, after the third sale fell through. It was almost two years exactly since the San Francisco regulators had recommended conservatorship. The Resolution Trust Corporation (RTC) seized Lincoln on April 14th. At this time, more than 21,000 investors, many of whom were elderly, lost their life savings. The losses totaled around $285 million: Many investors held securities backed by the parent company rather than deposits in a Federally-insured account. This distinction was apparently lost on many if not most of Lincoln’s customers until it was too late. Ultimately, the Federal government had to cover almost $3 billion of the company’s losses. Many creditors were made whole. The government then attempted to liquidate the seized assets through its RTC. This was often done at pennies on the dollar compared to what the property had allegedly been worth and the valuation at which loans against it had been made. Charles Keating was sent to prison for fraud, but was later released on appeal.</p>

<br clear="all">
