---
name: videos
---
<div style="display: flex;">
  <video controls><source src="{{url}}" type="video/mp4"></video>
  <iframe src="{{transcript}}"></iframe>
</div>
<br />
<a target="_blank" href="{{transcript}}">Click here for transcript</a><br />
<a href="javascript:history.go(-1);">Click here to go back</a>