---
name: actors
---
<h2>Senators</h2>


<div class="actor-panel">
<a href="/actors/senators/Alan-Cranston">
<img src="/img/actors/Alan-Cranston.jpg" alt="Sen. Alan Cranston" class="float-none"></a>
<h3>
    <a href="/actors/senators/Alan-Cranston">
        Sen. Alan Cranston    </a>
</h3>
</div>

<div class="actor-panel">
<a href="/actors/senators/Dennis-DeConcini">
<img src="/img/actors/Dennis-DeConcini.jpg" alt="Sen. Dennis DeConcini" class="float-none"></a>
<h3>
    <a href="/actors/senators/Dennis-DeConcini">
        Sen. Dennis DeConcini    </a>
</h3>
</div>

<div class="actor-panel">
<a href="/actors/senators/John-Glenn">
<img src="/img/actors/John-Glenn.jpg" alt="Sen. John Glenn" class="float-none"></a>
<h3>
    <a href="/actors/senators/John-Glenn">
        Sen. John Glenn    </a>
</h3>
</div>

<div class="actor-panel">
<a href="/actors/senators/John-McCain">
<img src="/img/actors/John-McCain.jpg" alt="Sen. John McCain" class="float-none"></a>
<h3>
    <a href="/actors/senators/John-McCain">
        Sen. John McCain    </a>
</h3>
</div>

<div class="actor-panel">
<a href="/actors/senators/Don-Riegle">
<img src="/img/actors/Don-Riegle.jpg" alt="Sen. Don Riegle" class="float-none"></a>
<h3>
    <a href="/actors/senators/Don-Riegle">
        Sen. Don Riegle    </a>
</h3>
</div>
<p>&nbsp;</p><h2>Aides</h2>


<div class="actor-panel">
<h3>
    <a href="/actors/aides/Joy-Jacobson">
        Joy Jacobson    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/aides/Carolyn-Jordan">
        Carolyn Jordan    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/aides/Laurie-Sedlmayr">
        Laurie Sedlmayr    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/aides/Gwendolyn-VanPaasschen">
        Gwendolyn VanPaasschen    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/aides/Kevin-C-Gottlieb">Kevin C. Gottlieb</a>
</h3>
</div>
<p>&nbsp;</p><h2>ACC Affiliates</h2>


<div class="actor-panel">
<h3>
    <a href="/actors/affiliates/ACC">
        ACC    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/affiliates/Jack-Atchison">
        Jack Atchison    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/affiliates/James-Grogan">
        James Grogan    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/affiliates/Charles-Keating">
        Charles Keating    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/affiliates/Lincoln-Savings-and-Loan">
        Lincoln Savings and Loan    </a>
</h3>
</div>
<p>&nbsp;</p><h2>Supporting Cast</h2>


<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/Ed-Gray">
        Ed Gray    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/SF-Regulators">
        SF Regulators    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/FHLBB">
        FHLBB    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/Danny-Wall">
        Danny Wall    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/James-Wright">
        Speaker Wright    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/Bill-Seidman">
        Bill Seidman    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/Lee-H-Henkel-Jr">
        Lee H. Henkel Jr.    </a>
</h3>
</div>

<div class="actor-panel">
<h3>
    <a href="/actors/supporting_cast/William-Proxmire">
        William Proxmire    </a>
</h3>
</div>
