---
name: actors
---

<h2>Alan Cranston</h2>

<div class="right-column">
    <h2>Exhibits</h2>
    <ul>
                <li><a href="/files/exhibits/Cranston/%231 Cranston to Gray 06-07-89.pdf">Exhibit #1: Cranston to Gray 06-07-89</a></li>
                <li><a href="/files/exhibits/Cranston/%232 Gray's Response to (1) 06-15-89.pdf">Exhibit #2: Gray's Response to (1) 06-15-89</a></li>
                <li><a href="/files/exhibits/Cranston/%233 Keating Lobbying to Kim 03-01-88.pdf">Exhibit #3: Keating Lobbying to Kim 03-01-88</a></li>
                <li><a href="/files/exhibits/Cranston/%234 Cranston to Gray DI Regs. 07-11-84.pdf">Exhibit #4: Cranston to Gray DI Regs. 07-11-84</a></li>
                <li><a href="/files/exhibits/Cranston/%235 Cranston to Gray DI Regs. 01-31-85.pdf">Exhibit #5: Cranston to Gray DI Regs. 01-31-85</a></li>
                <li><a href="/files/exhibits/Cranston/%236 Cranston Letter to the Editor WSJ 06-15-89.pdf">Exhibit #6: Cranston Letter to the Editor WSJ 06-15-89</a></li>
                <li><a href="/files/exhibits/Cranston/%237 Cranston Press Release 01-19-90.pdf">Exhibit #7: Cranston Press Release 01-19-90</a></li>
                <li><a href="/files/exhibits/Cranston/%238 Cranston Press Release 01-22-90.pdf">Exhibit #8: Cranston Press Release 01-22-90</a></li>
                <li><a href="/files/exhibits/Cranston/%239 FHLBB Member Letter in Support DeConcini and Cranston 06-21-89.pdf">Exhibit #9: FHLBB Member Letter in Support DeConcini and Cranston 06-21-89</a></li>
                <li><a href="/files/exhibits/Cranston/%2310 Grogan to Jacobson Gray Recusal 02-25-87.pdf">Exhibit #10: Grogan to Jacobson Gray Recusal 02-25-87</a></li>
                <li><a href="/files/exhibits/Cranston/%2311 Cranston Office Memo 05-06-88.pdf">Exhibit #11: Cranston Office Memo 05-06-88</a></li>
                <li><a href="/files/exhibits/Cranston/%2312 Cranston Charges Gray WSJ 03-22-84.pdf">Exhibit #12: Cranston Charges Gray WSJ 03-22-84</a></li>
                <li><a href="/files/evidence/16">Exhibit #13: Memo, Jacobson to Cranston</a></li>
                <li><a href="/files/evidence/25">Exhibit #14: Memo, Jacobson to Cranston, Fundraising</a></li>
            </ul>
    </div>

<img src="/img/actors/Alan-Cranston.jpg" alt="Sen. Alan Cranston" class="float-left">
<p><u>U.S. Senator (D-California)</u><br></p>

<p>Senator Alan Cranston was born and raised in Northern California. After serving in the Army, Cranston co-founded the California Democratic Council (CDC).<a href="#section1"><sup>1</sup></a> The Council was an unofficial assembling of local Democratic outfits that coordinated electoral activities and activism in California. It provided substantial support to Cranston throughout his electoral career. In 1958, he was elected California State Controller. In 1968, he became a U.S. Senator. Cranston served four six-year terms in that position, and was the Democratic Whip from 1977 to 1991. He also rose to become the second-ranking member on the Senate Committee on Banking, Housing and Urban Affairs. In 1984, he ran an unsuccessful campaign for the Democratic presidential nomination, which left him with a $2 million debt.</p>

<p><a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln S&L</a> was headquartered in California, and Cranston was, in his own words, a “longtime friend” of California’s financial institutions. He says that even before meeting <a href="/actors/affiliates/Charles-Keating">Charles Keating</a>, Cranston was a staunch supporter of “direct investment.” Cranston and Keating disregarded their political differences and developed a mutually beneficial relationship. Keating and associates gave $39,000 to Cranston’s 1986 re-election campaign and arranged $85,000 in corporate contributions to the California Democratic Party for a get-out-the-vote drive. Keating's contributions to Cranston totaled almost $1 million; however, they were mostly directed to voter registration groups the senator helped start. Cranston started and/or controlled a number of voter engagement and liberal groups, building off his success with the CDC.</p>

<p>Cranston’s chief fundraiser, <a href="/actors/aides/Joy-Jacobson">Joy Jacobson</a>, and his banking aide, <a href="/actors/aides/Carolyn-Jordan">Carolyn Jordan</a>, were questioned during the hearings. After working in Congress for six years, Jacobson left Cranston’s Senate staff in April of 1985 to become his chief fundraiser. From the beginning of Cranston’s relationship with Keating until mid-1987, his chief legal aide, <a href="/actors/affiliates/James-Grogan">Jim Grogan</a>, set up substantive meetings with Keating through Jacobson. Grogan even sent her a letter (Exhibit <a href="/files/exhibits/Cranston/%2310 Grogan to Jacobson Gray Recusal 02-25-87.pdf">10</a>) - the same one he sent to Senators DeConcini and Riegle - which solicited advice regarding <a href="/actors/supporting_cast/Ed-Gray">Ed Gray’s</a> recusal (although she testified she never received it). In January 1987, Jacobson sent a memo (Exhibit <a href="/files/evidence/16">13</a>) to Cranston that listed the names of contributors and the legislative matters with which they were concerned. In her words, “Individuals who have been very helpful… rightfully expect some kind of resolution.” Jacobson testified that she had no knowledge of the April meetings until she read about them in the press.</p>

<p>Carolyn Jordan also testified that she had no knowledge of the April meetings until a year later, when she read about them in the press. Jordan testified that she told Cranston after the April meetings that criminal referrals were mechanisms commonly used by the Bank Board to scare off members of Congress and attorneys, and that a criminal referral did not mean the bank exam had stopped.</p>

<p>Soon after the April 1987 meetings, Keating contributed $125,000 to USA Votes, one of the groups that Cranston directed.<a href="#section2"><sup>2</sup></a> This was followed a few months later by $325,000 to the Forum Institute and $400,000 to the Center for Participation in Democracy, headed by Cranston’s son, Kim.</p>

<p>Due to his battle with prostate cancer, Cranston did not testify at the 1990 Senate Ethics Committee hearings.</p>

<hr>
<p id="section1"><sup>1</sup>A coalition of Democratic clubs that were designed to enable Democrats to become the majority party.</p>
<p id="section2"><sup>2</sup>His aide, Carolyn Jordan, also took various trips to Arizona, including one in April 1987, with all expenses paid by ACC. These payments would have been illegal for executive branch employees.</p>


<br clear="all">
