---
name: actors
---

<h2>Dennis DeConcini</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="/files/evidence/30">Testimony - Senator DeConcini: Part I</a></li>
                <li><a href="/files/evidence/31">Testimony - Senator DeConcini: Part II</a></li>
                <li><a href="/files/evidence/29">Testimony - Account of Meeting with McCain</a></li>
            </ul>


    <h2>Exhibits</h2>
    <ul><li><a href="/files/exhibits/DeConcini/%231 DeConcini to Gray 06-02-89.pdf">Exhibit #1: DeConcini to Gray 06-02-89</a></li>
<li><a href="/files/exhibits/DeConcini/%232 Gray's Response to (1) 06-05-89.pdf">Exhibit #2: Gray's Response to (1) 06-05-89</a></li>
<li><a href="/files/exhibits/DeConcini/%233 DeConcini Statement 11-09-89.pdf">Exhibit #3: DeConcini Statement 11-09-89</a></li>
<li><a href="/files/exhibits/DeConcini/%234 DeConcini to Cranston 06-18-84.pdf">Exhibit #4: DeConcini to Cranston 06-18-84</a></li>
<li><a href="/files/exhibits/DeConcini/%235 DeConcini Office Memo 01-03-85.pdf">Exhibit #5: DeConcini Office Memo 01-03-85</a></li>
<li><a href="/files/exhibits/DeConcini/%236 DeConcini and Glenn et al. to Gray 01-30-85.pdf">Exhibit #6: DeConcini and Glenn et al. to Gray 01-30-85</a></li>
<li><a href="/files/exhibits/DeConcini/%237 Sedlmayr-DeConcini Memo 02-17-89.pdf">Exhibit #7: Sedlmayr-DeConcini Memo 02-17-89</a></li>
<li><a href="/files/exhibits/DeConcini/%238 Sedlmayr-DeConcini Memo 03-10-88.pdf">Exhibit #8: Sedlmayr-DeConcini Memo 03-10-88</a></li>
<li><a href="/files/exhibits/DeConcini/%239 Sedlmayr-DeConcini 03-19-87.pdf">Exhibit #9: Sedlmayr-DeConcini 03-19-87</a></li>
<li><a href="/files/exhibits/DeConcini/%2310 Sedlmayr-DeConcini Memo 04-01-87.pdf">Exhibit #10: Sedlmayr-DeConcini Memo 04-01-87</a></li>
<li><a href="/files/exhibits/DeConcini/%2311 DeConcini-Sedlmayr Fallout 06-14-89.pdf">Exhibit #11: DeConcini-Sedlmayr Fallout 06-14-89</a></li>
<li><a href="/files/exhibits/DeConcini/%2312 Sedlmayr-DeConcini Article About Keating 06-29-87.pdf">Exhibit #12: Sedlmayr-DeConcini Article About Keating 06-29-87</a></li>
<li><a href="/files/exhibits/DeConcini/%2313 Keating to DeConcini (1989).pdf">Exhibit #13: Keating to DeConcini (1989)</a></li>
<li><a href="/files/exhibits/DeConcini/%2314 FHLBB Member Letter in Support DeConcini and Cranston 06-21-89.pdf">Exhibit #14: FHLBB Member Letter in Support DeConcini and Cranston 06-21-89</a></li>
                <li><a href="/files/evidence/18">Exhibit #15: Invitation, Deconcini (McCain) to Riegle</a></li>

            </ul>

        <h2>Video</h2>
    <ul>
                <li><a href="/videos/DeConcini - Part I">DeConcini - Part I</a></li>
                <li><a href="/videos/DeConcini - Part II">DeConcini - Part II</a></li>
                <li><a href="/videos/DeConcini - Account of Meeting with McCain">DeConcini - Account of Meeting with McCain</a></li>
            </ul>
    </div>

<img src="/img/actors/Dennis-DeConcini.jpg" alt="Sen. Dennis DeConcini" class="float-left">
<p><u>U.S. Senator (D-Arizona)</u><br></p>

<p>The son of a former Arizona Supreme Court justice, Senator Dennis DeConcini represented the Grand Canyon State in the U.S. Senate from 1977 to 1995. During his two decades in the Senate, DeConcini served on the Senate Appropriations Committee, where he chaired the Subcommittee on Treasury, Postal Service and General Government. He also served on the Senate Judiciary and Select Intelligence Committees and was appointed in 1995 to the board of directors of the Federal Home Loan Mortgage Corporation (Freddy Mac), where he served until 1999.</p>

<p>A liberal Democrat in a Republican state, DeConcini was pleased to have links to a Republican figure such as <a href="/actors/affiliates/Charles-Keating">Charles Keating</a>. After meeting him at a party in 1981, DeConcini supported Keating's nomination to become Ambassador to the Bahamas. (Keating was turned down because of a recent run-in with the Securities and Exchange Commission, which ended in an anti-fraud consent decree). DeConcini received about $20,000 from Keating and associates for his 1982 campaign. At Keating's request, DeConcini also supported <a href="/actors/supporting_cast/Lee-H-Henkel-Jr">Lee Henkel’s</a> nomination to the Bank Board. (Henkel resigned the day before the April 2, 1987 meeting, hounded by charges that he was heavily indebted to Keating). A month after recommending Henkel, DeConcini received a check for $16,000 from Keating’s office. DeConcini says that, at the time, he was unaware of this contribution.</p>

<p>DeConcini had a long history of disliking <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a> as Bank Board chairman. When Keating called DeConcini and asked him to meet with Gray regarding the issues <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln</a> had been having with the regulators, DeConcini thought it was a good idea, but also that he was not the man to organize it, given his outspoken stance toward Gray. (DeConcini also says many other people had contacted him with complaints about Gray).</p>

<p>Although his banking aide, <a href="/actors/aides/Laurie-Sedlmayr">Laurie Sedlmayr</a>, advised him to stay away from the Keating/Gray “feud,” DeConcini met with <a href="/actors/senators/Don-Riegle">Senator Riegle</a> on March 17th, 1987, after his office received the <a href="/files/exhibits/Lincoln/%233 Arthur Young Letter 03-17-87.pdf">Arthur Young letter</a>. DeConcini says he told Riegle he was having trouble with Gray and then requested his help. DeConcini also received a memo (Exhibits <a href="/files/evidence/15">9</a> and <a href="files/evidence/17">10</a>) that summarized the things <a href="/actors/affiliates/ACC">ACC</a> wanted the regulators to stop doing and what it was willing to do in return. Two days later, DeConcini and Sedlmayr met with <a href="/actors/senators/John-McCain">Senator McCain</a> and his banking aide, <a href="/actors/aides/Gwendolyn-VanPaasschen">Gwendolyn VanPaasschen</a>. DeConcini claims that they discussed Keating’s problems with the regulators and whether meeting with Gray would be productive. DeConcini also claims that McCain voiced his concerns several times about Gray’s reputation, specifically worrying that Gray might misrepresent any meeting they had. DeConcini says he suggested that he and McCain go over to Gray’s office to talk through matters. McCain refused to go to Gray’s office that day and remained non-committal about any future meetings with Gray.</p>

<p>DeConcini called Gray the next day and asked if he would meet with a few senators about Lincoln’s problems with the Bank Board. He claims that Gray responded that he would be happy to meet. DeConcini says that there was no mention of aides during their conversation.</p>

<p>Dissatisfied with the information Gray offered the senators in their first meeting, DeConcini called Gray a few days later and said that they would take him up on his offer to meet with the <a href="/actors/supporting_cast/SF-Regulators">regulators</a>. Gray called DeConcini back the next day to tell him that the regulators would meet them at the same time and place the following week. On the day of the April 9th meeting, DeConcini told Sedlmayr to draft a letter (Exhibit <a href="/files/evidence/18">15</a>) from himself and McCain, which would invite Senator Riegle to the meeting. Sedlmayr claims it was the end of the day and she was so rushed that she forgot to have McCain’s office sign off on the letter.</p>

<p>One of the San Francisco regulators referred to DeConcini as "the master of ceremonies" for the April 9th meeting. There is evidence that, when he emerged, he called Keating and told him not to expect much from the Bank Board.</p>

<p>This was not the end of DeConcini and Keating’s relationship. Keating's friends, family, and employees raised $48,000 for DeConcini's 1988 campaign. (The entire campaign cost $3.2 million). DeConcini met several times with Keating’s attorney, <a href="/actors/affiliates/James-Grogan">James Grogan</a>, regarding the sale of Lincoln after the company filed for bankruptcy.</p>

<br clear="all">
