---
name: actors
---

<h2>Don Riegle</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="/files/evidence/44">Testimony - Senator Riegle</a></li>
            </ul>


    <h2>Exhibits</h2>
    <ul>
                <li><a href="/files/exhibits/Riegle/%231 Riegle Recommends Gray 04-30-87.pdf">Exhibit #1: Riegle Recommends Gray 04-30-87</a></li>
<li><a href="/files/exhibits/Riegle/%232 Riegle to Keating 04-24-88.pdf">Exhibit #2: Riegle to Keating 04-24-88</a></li>
<li><a href="/files/exhibits/Riegle/%233 Keating as Riegle Contributor 02-22-88.pdf">Exhibit #3: Keating as Riegle Contributor 02-22-88</a></li>
<li><a href="/files/exhibits/Riegle/%234 Gottlieb Office Memo Keating Fundraiser 02-06-87.pdf">Exhibit #4: Gottlieb Office Memo Keating Fundraiser 02-06-87</a></li>
<li><a href="/files/exhibits/Riegle/%235 Grogan to Gottlieb Gray Recusal 02-25-87.pdf">Exhibit #5: Grogan to Gottlieb Gray Recusal 02-25-87</a></li>
<li><a href="/files/exhibits/Riegle/%236 Lori Riegle Affidavit 01-12-90.pdf">Exhibit #6: Lori Riegle Affidavit 01-12-90</a></li>
<li><a href="/files/exhibits/Riegle/%237 FDIC Chairman Affidavit 12-13-90.pdf">Exhibit #7: FDIC Chairman Affidavit 12-13-90</a></li>
<li><a href="/files/exhibits/Riegle/%238 Statement from Riegle's Counsel 12-07-89.pdf">Exhibit #8: Statement from Riegle's Counsel 12-07-89</a></li>
            </ul>

        <h2>Video</h2>
    <ul>
                <li><a href="/videos/Riegle">Riegle</a></li>
            </ul>
    </div>

<img src="/img/actors/Don-Riegle.jpg" alt="Sen. Don Riegle" class="float-left">
<p><u>U.S. Senator (D-Michigan)</u></p>

<p>Born in Flint, Michigan, Senator Donald W. Riegle Jr. began his political career as a U.S. Representative in 1966. He was subsequently re-elected as a Republican congressman in the following three elections from Michigan's 7th congressional district. In 1973, due to differences with the Nixon administration regarding Vietnam and civil rights, Riegle changed party affiliations and became a Democrat. In 1977, he was elected to the U.S. Senate and remained in that position until 1994. While in the Senate, Riegle was a member of the Senate Committee on Finance as well as the Senate Committee on Banking, Housing and Urban Affairs, which he chaired from 1989 to 1995.</p>

<p>Before Riegle and <a href="/actors/affiliates/Charles-Keating">Charles Keating</a> ever met, Keating invested $37 million dollars in Michigan by building the Ponchetrain Hotel in Detroit. The two were first introduced at the grand opening of the hotel in March 1985. In the summer of 1986, Keating and his chief legal aide, <a href="/actors/affiliates/James-Grogan">James Grogan</a>, met with Riegle on two separate occasions: First, to discuss <a href="/actors/supporting_cast/Lee-H-Henkel-Jr">Lee Henkel's</a> nomination to the Bank Board, and, second, to propose that a fundraiser be held for Riegle at the Ponchetrain. Riegle claims there was also talk of building a second hotel in Detroit.</p>

<p>Earlier that year, on March 6th, Bank Board Chairman <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a> set up a meeting with Riegle. Gray says that, around this time, he was talking to "anyone who would listen" about the FSLIC recapitalization bill he was about to put before Congress. According to Gray, Riegle pulled him aside at the end of the meeting and told him that there were senators out West who were concerned about the Bank Board's actions regarding <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln S&L</a>, and that these senators wanted to meet with Gray. Gray says he told Riegle that he didn't like the idea; he had had enough drama with Keating and Lincoln after the series of <a href="/evidence">articles</a> that described a feud between Keating and Gray and simultaneously questioned Gray's reputation. In what he describes as a three-minute meeting, Gray expressed his belief that nothing productive would come of it. According to Gray, Riegle simply responded, "You'll be getting a call." Riegle has no independent recollection of what occurred in his March 6th meeting with Gray.</p>

<p>The next day, Riegle flew to Arizona, where Keating had invited him to come see Lincoln's operations. After touring their headquarters, Keating and Riegle met privately. While Riegle does not remember what was said in this meeting, he speculates that if Keating had talked about his issues with the Bank Board, he would have said, "Anybody outside my state and whose problems are outside Michigan would have to take up them with their home state senators." A member of Riegle's staff, <a href="/actors/aides/Kevin-C-Gottlieb">Kevin Gottlieb</a>, who waited outside with Grogan while the meeting took place, recalls that as Keating emerged to escort Riegle back to his car, he was informed that Keating's camp would begin arranging for Riegle's fundraiser at the Ponchetrain hotel.</p>

<p>On March 13th, Riegle received the <a href="/files/exhibits/Lincoln/%233 Arthur Young Letter 03-17-87.pdf">Arthur Young letter</a>. When asked why he would have received a letter like that, Riegle speculated that he may have made a passing comment to Grogan (when Grogan and Atchison were in D.C. in late February to lobby for direct investment laws) that he was too busy to meet and to put their complaints in writing. A few days after receiving the letter, Grogan met with Riegle in D.C. Grogan claims that Riegle told him a meeting between Gray and the senators would occur and that Grogan needed either Senators <a href="/actors/senators/Dennis-DeConcini">DeConcini</a> or <a href="/actors/senators/John-McCain">McCain</a> to invite him to this meeting. Riegle has no recollection of this conversation. A little more than a week later on March 23rd, a successful fundraiser at the Ponchetrain hotel was held and raised over $30,000 on Riegle's behalf. Riegle returned these contributions a few weeks later, after the Detroit papers ran a story connecting his recent meetings to the fundraiser. Twice during March 1987, Riegle voted on the Senate floor to protect funding for regulation of S&Ls.</p>

<p>Riegle was not in attendance at the April 2 meeting. The next week, Riegle received a written invitation from DeConcini and McCain (though only signed by DeConcini) to attend the April 9th meeting with the San Francisco regulators. Riegle attended. On April 14th, he received the "<a href="/files/exhibits/Gray/Black Transcript 04-10-87.pdf">Black Transcript</a>" from Gray. Riegle had no further contact with Keating or Lincoln Savings.</p>

<br clear="all">
