---
name: actors
---

<h2>John Glenn</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/download/32">Testimony - Senator Glenn</a></li>
            </ul>
        
     
    <h2>Exhibits</h2>
    <ul>
                <li><a href="/files/exhibits/DeConcini/%231 Glenn to Gray 06-20-84.pdf">Exhibit #1 Glenn to Gray 06-20-84</a></li>
<li><a href="/files/exhibits/DeConcini/%232 Glenn Office Memo 12-17-84.pdf">Exhibit #2 Glenn Office Memo 12-17-84</a></li>
<li><a href="/files/exhibits/DeConcini/%233 Glenn to Gray 12-17-84.pdf">Exhibit #3 Glenn to Gray 12-17-84</a></li>
<li><a href="/files/exhibits/DeConcini/%234 DeConcini and Glenn et al. to Gray 01-30-85.pdf">Exhibit #4 DeConcini and Glenn et al. to Gray 01-30-85</a></li>
            </ul>
        
        <h2>Video</h2>
    <ul>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/watch/2">70 Minutes: A First Look into the Hearings</a></li>
                <li><a href="http://apps.college.brown.edu/keating5/evidence/watch/7">Testimony - Senator Glenn [VIDEO]</a></li>
            </ul>
    </div>

<img src="https://apps.college.brown.edu/keating5/img/actors/John-Glenn.jpg" alt="Sen. John Glenn" class="float-left">
<p>Senator Glenn (D, OH)</p><p>Born and raised in Ohio, former U.S. Marine and NASA astronaut John Glenn was elected to Senatorial office in 1974, a position he held until 1999. Chief author of the 1978 Nonproliferation Act 2, Glenn served as chairman of the Committee on Governmental Affairs from 1987 to 1995 and sat on the Foreign Relations and Armed Services Committee, and the Special Committee on Aging.&nbsp;<br></p><p>So why was he at the two April meetings? Glenn explains that his interest lay in the fact that <a href="https://apps.college.brown.edu/keating5/actors/affiliates/lincoln" title="" target="">Lincoln</a> was headed by a former Ohioan. Lincoln's parent corporation (<a href="https://apps.college.brown.edu/keating5/actors/affiliates/acc" title="" target="">ACC</a>) was an Ohio-chartered operation. Of the five senators, Glenn took the least in direct contributions from <a href="https://apps.college.brown.edu/keating5/actors/affiliates/keating" title="" target="">Charles Keating</a> and his associates. In January 1984, Keating arranged for contributions to resolve Glenn's presidential debt, which totaled $34,000. Keating also contributed over $200,000 to "Political Action Committee" (PAC), an organization for which Glenn was spokesman. Other than sending an indefinite number of letters to Bank Board Chair, Ed Gray regarding his dissatisfaction with the Direct Investment law in 1984, Glenn did very little politically for Keating. Glenn refused two of Keating's requests in 1986: first, to support Lee Henkle's nomination to the Bank Board, and, second, to support Judge Manion's appointment.&nbsp;<br></p><p>In late 1986, Keating's legal counsel, <a href="https://apps.college.brown.edu/keating5/actors/affiliates/james-grogan" title="" target="">James Grogan</a> (one of Glenn's former employees), informed Glenn that the <a href="https://apps.college.brown.edu/keating5/actors/supporting_cast/sf-regulators" title="" target="">San Francisco regulators</a> who were conducting an exam were harassing <a href="https://apps.college.brown.edu/keating5/actors/affiliates/lincoln" title="" target="">Lincoln Savings and Loans</a>. In response, in January 1987, Glenn arranged a meeting with <a href="https://apps.college.brown.edu/keating5/actors/affiliates/attchison" title="" target="">Jack Atchison</a> of Arthur Young Accounting firm (who conducted Lincoln's audits in 1985 and 1986) to substantiate the claims made by Grogan. Glenn says that Atchison supported Lincoln's complaints by saying that the exam was significantly overdue and that classified information was being leaked to the public.</p><p>Grogan called Glenn's assistant, Mary Jane Veto, in late February and requested that she ask Glenn to talk to DeConcini, Cranston and McCain about meeting with Gray. &nbsp;Grogan testified that, in mid-March, he heard (through other senators and their staff) that Glenn had agreed to attend the meeting, so he didn't pursue him further.&nbsp;</p><p>Glenn was a "do-it-yourself" kind of guy. It was no surprise then, that of the five senators, he was the most outspoken regarding the normalcy of having five senators attend a meeting with a federal agency. During his examination, he said, "A senator's decision to attend a meeting is not made ethical by the number of other senators there…Had it been three would that have been better? If I had gone alone would that be better- I never base my attendance to a meeting on how many senators will be there." He also added that it was not his practice to limit assistance as a Senator on the basis of who was his constituent.</p><p>Multiple accounts confirm that Glenn was also the most visibly frustrated that Gray did not have any information at the April 2nd meeting. He was very outspoken in his desire for answers. Bill Black, one of the San Francisco regulators, vividly recalls him saying, "Charge them or get off their backs!" &nbsp;</p><p>After the April 9th meeting, Glenn went back to his office where Grogan was waiting. Grogan recalls that Glenn informed him that he shouldn't expect the Bank Board to do much for them and that the exam results would be delivered within the month. Glenn had no further dealings with Keating after the April 9th meeting other than a year later, when he set up a luncheon, at Keating's request, between Keating, <a href="https://apps.college.brown.edu/keating5/actors/supporting_cast/wright" title="" target="">Speaker Wright</a> (Gray's successor) and himself. Glenn says that it was an entirely social lunch.&nbsp;</p><p><br></p>
<br clear="all">