---
name: actors
---

<h2>John Glenn</h2>

<div class="right-column">
        <h2>Testimony</h2>
    <ul>
                <li><a href="/files/evidence/32">Testimony - Senator Glenn</a></li>
            </ul>


    <h2>Exhibits</h2>
    <ul>
                <li><a href="/files/exhibits/Glenn/%231 Glenn to Gray 06-20-84.pdf">Exhibit #1: Glenn to Gray 06-20-84</a></li>
<li><a href="/files/exhibits/Glenn/%232 Glenn Office Memo 12-17-84.pdf">Exhibit #2: Glenn Office Memo 12-17-84</a></li>
<li><a href="/files/exhibits/Glenn/%233 Glenn to Gray 12-17-84.pdf">Exhibit #3: Glenn to Gray 12-17-84</a></li>
<li><a href="/files/exhibits/Glenn/%234 DeConcini and Glenn et al. to Gray 01-30-85.pdf">Exhibit #4: DeConcini and Glenn et al. to Gray 01-30-85</a></li>
            </ul>

        <h2>Video</h2>
    <ul>
                <li><a href="/videos/Glenn">Glenn</a></li>
            </ul>
    </div>

<img src="/img/actors/John-Glenn.jpg" alt="Sen. John Glenn" class="float-left">
<p><u>U.S. Senator (D-Ohio)</u><br></p>

<p>Born and raised in Ohio, former U.S. Marine and NASA astronaut Senator John Glenn was elected to the Senate in 1974, a position he held until 1999. Chief author of the 1978 Nuclear Non-Proliferation Act, Glenn served as chairman of the Committee on Governmental Affairs from 1987 to 1995 and sat on both the Foreign Relations and Armed Services Committees and the Special Committee on Aging.</p>

<p>Lincoln's parent corporation (<a href="/actors/affiliates/ACC">ACC</a>) was an Ohio-chartered operation, which is why Glenn said he was interested in the matter. In late 1986, Keating's legal counsel, <a href="/actors/affiliates/James-Grogan">James Grogan</a> (one of Glenn's former employees), informed Glenn that the <a href="/actors/supporting_cast/SF-Regulators">San Francisco regulators</a> who were conducting an exam were harassing <a href="/actors/affiliates/Lincoln-Savings-and-Loan">Lincoln Savings and Loan</a>. In response, in January 1987, Glenn arranged a meeting with <a href="/actors/affiliates/Jack-Atchison">Jack Atchison</a> of the Arthur Young accounting firm (who conducted Lincoln's audits in 1985 and 1986) to substantiate the claims made by Grogan. Glenn says that Atchison supported Lincoln's complaints by saying that the exam was significantly overdue and that classified information was being leaked to the public.</p>

<p>Grogan called Glenn's assistant in late February and requested that she ask Glenn to talk to Senators DeConcini, Cranston, and McCain about meeting with Bank Board chairman <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a>. Grogan testified that, in mid-March, he heard (through other senators and their staff) that Glenn had agreed to attend the meeting, so he didn't pursue him further.</p>

<p>Multiple accounts confirm that Glenn was the most visibly frustrated that Gray did not have any information at the April 2nd meeting. He was very outspoken in his desire for answers. During the April 9th meeting, Bill Black, one of the San Francisco regulators, vividly recalls him saying, "Charge them or get off their backs!" (see "<a href="/files/exhibits/Gray/Black Transcript 04-10-87.pdf">Black Transcript</a>").</p>

<p>After the April 9th meeting, Glenn went back to his office where Grogan was waiting. Grogan recalls that Glenn informed him he shouldn't expect the Bank Board to do much for them and that the exam results would be delivered within the month. Glenn had no further dealings with Keating after the April 9th meeting other than a year later, when he set up a luncheon, at Keating's request, between Keating, <a href="/actors/supporting_cast/James-Wright">Speaker Wright</a>, <a href="/actors/supporting_cast/Danny-Wall">Danny Wall</a> (Gray's successor) and himself. Glenn says that it was an entirely social lunch.</p>

<p>Of the five senators, Glenn took the least in direct contributions from <a href="/actors/affiliates/Charles-Keating">Charles Keating</a> and his associates. In January 1984, Keating arranged for contributions to resolve Glenn's presidential debt, which totaled $34,000. Keating also contributed over $200,000 to a PAC that Glenn was the spokesman for. Other than sending an indefinite number of letters to Gray regarding his dissatisfaction with the Direct Investment Rule in 1984, Glenn did very little politically for Keating. Glenn also refused two of Keating's requests in 1986: First, to support <a href="/actors/supporting_cast/Lee-H-Henkel-Jr">Lee Henkel's</a> nomination to the Bank Board, and, second, to support a controversial Reagan nominee for the 7th Circuit Court of Appeals.</p>

<br clear="all">
