---
name: actors
---

<h2><u>Bill Seidman</u></h2>
<p>FDIC Chairman</p><br /><br />

<p>Bill Seidman was the Chairman of the FDIC, the government agency
that insures bank accounts, from 1985 to 1991. During this time, he
oversaw a period of great change: Rising interest rates, deregulation,
changes in tax law, and bad real-estate loans that triggered thousands
of bank and thrift failures. He worked with Congress on legislation in
1989 that created the Resolution Trust Corporation, where he also
served as Chairman, to help solve the crisis.</p>
<br clear="all">
