---
name: actors
---

<h2>FHLBB</h2>

<img src="/img/actors/FHLBB.png" alt="Logo of Federal Home Loan Bank Board" class="float-left"><br />
<p><u>Federal Home Loan Bank Board</u></p>

<p>The Federal Home Loan Bank Board was an <a href="http://www.foreffectivegov.org/node/2593">independent regulatory agency</a> formed during
  the Great Depression in order to lower the cost of home ownership. Under the 1932 law, the Bank Board was charged both
  with establishing regional <a href="/evidence">FHLBs</a> (like the one in San Francisco relevant to the Keating Five) as well as chartering and
  overseeing S&Ls. FHLBs were created to provide reliable capital to S&Ls and other types of community development financial
  institutions, the idea being their government-backed stability would lead to lower costs for would-be homeowners. Congress
  dissolved the FHLBB in 1990, reconstituting its oversight of the FHLBs and other roles into a new administrative structure
  following the S&L crisis. This structure was again revised by Congress in 2009 following the onset of the Great Recession.</p>

<p>The FHLBs continue to exist today. While government-sponsored, they are privately-held enterprises owned by the member
  institutions they provide liquidity to. As a condition of receiving funds, the FHLBs regularly audit their members to ensure
  their solvency. (Since an FHLB is a cooperatively-owned business, every member has an interest in all others’ ability to stay
  afloat). The study of an institution’s solvency is also known as a “bank exam,” which the
  <a href="/actors/supporting_cast/SF-Regulators">FHLB-SF</a> undertook on <a href="/actors/affiliates/Lincoln-Savings-and-Loan">
  Lincoln S&L</a>.</p>

<br clear="all">
