---
name: actors
---

<h2> SF Regulators</h2>

<div class="right-column">

        <h2>Video</h2>
    <ul>
                <li><a href="/videos/70-Minutes">70 Minutes: A First Look into the Hearings</a></li>
            </ul>
    </div>


<p>
<u>William "Bill" Black</u> – FSLIC General Counsel<br />
<u>James Cirona</u> – FHLB-SF President and Principal Supervisory Agent<br />
<u>Michael Patriarca</u> – FHLB-SF Director of Agency Functions<br />
<u>Richard Sanchez</u> – FHLB-SF Supervisory Agent for Lincoln S&L of Irvine,
CA<br /></p><p>

These regulators were summoned to Washington D.C. to discuss the
FHLB-SF extended examination of <a href="/actors/affiliates/Lincoln-Savings-and-Loan">
Lincoln S&L</a>. The four men were present at the April 9th meeting and contend that Lincoln was
exaggerating the value of properties in which it had invested or on which it had made loans.</p><p>

Black’s boss, FHLBB Chairman <a href="/actors/supporting_cast/Ed-Gray">Ed Gray</a>, asked Black to
report back to him about the April 9th meeting. Black took the extensive notes that formed the basis
for the infamous "<a href="http://keatingfive.org/files/exhibits/Gray/Black%20Transcript%2004-10-87.pdf">
Black Transcript</a>." While many questioned exactly how Mr. Black was able to take such detailed notes,
the substance of these notes was not significantly challenged by any of the witnesses to the Senate Ethics
Committee.</p>

<br clear="all">
