---
name: actors
---

<h2>William Proxmire</h2>

<img src="/img/actors/William-Proxmire.jpg" alt="Sen. William Proxmire" class="float-left"><br />
<p><u>Chairman of the Senate Banking Committee; U.S. Senator (D-Wisconsin)</u></p>

<p>Senator William Proxmire represented Wisconsin in the U.S. Senate from 1957 to 1989.
During that time, he served as chairman of the Committee on Banking, Housing and Urban Affairs
from 1975 to 1981 as well as from 1987 to 1989. Proxmire refused campaign contributions during
his 31 years in the Senate. After his retirement in 1989, Proxmire stayed active as a syndicated
columnist and broadcaster, commenting on the Keating Five and other scandals of the day. He was
adamant that the system was to blame. He believed that – mistakenly or not – senators thought
they had to raise substantial sums of money to have a shot at re-election. Proxmire also blamed
the regulators, who he viewed as neglectful in their duties, so that the Senate and nation did
not appreciate the extent of the problem until it was too late. At the end of his term, Proxmire
began to push for Congressional intervention in the crisis, regretting that he had not acted
earlier and done more.</p>

<br clear="all">
