---
name: actors
---

<h2> Wright</h2>


<img src="https://apps.college.brown.edu/keating5/img/actors/SpeakerWright.jpg" alt="Speaker Wright" class="float-left">
<p>Wright was a Democratic U.S. Congressman from Texas who served 34 years in the U.S. House of representatives and was the speaker of the House from 1987 to 1989. He resigned after a House investigation into <a href="http://en.wikipedia.org/wiki/Jim_Wright#Aide_controversy" title="" target="">several scandals</a>&nbsp; found him guilty. He was also implicated in scandals relating to the savings and loans crisis.<br></p>
<br clear="all">