DirectoryIndex default.html
Options -indexes

RewriteEngine on
#RewriteBase /

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ views/ [L]

RewriteCond %{DOCUMENT_ROOT}/views%{REQUEST_URI} -d
RewriteRule ^(.*)$ views/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/views%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}/views%{REQUEST_URI}.html -f
RewriteRule ^(.*)$ views/$1.html [L]

# Redirects domain.com/file.html to domain.com/file
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.html !-f
#RewriteCond %{REQUEST_URI} ^(.+)\.html$
#RewriteRule build/(.*)\.html$ /$1 [R=301,L]

<Files src/*>
        order allow,deny
        deny from all
</Files>
